//ABSTRACTS
@import 'abstracts/variables';
@import 'abstracts/mixins';

//BASE

@import 'base/typography';
@import 'base/icons';
@import 'base/animations';
@import 'base/global';

//COMPONENTS
@import 'components/button';

//HEADER
@import 'layout/header/header';

//FOOTER
@import 'layout/footer/footer';


//DESKTOP
@supports (display: grid) {
    @include setMediaScreen(min-width, $breakpoint-medium) {
        //BASE
        @import 'base/global-desktop';

        //COMPONENTS
        @import 'components/button-desktop';
        
        //HEADER
        @import 'layout/header/header-desktop';
        
        //FOOTER
        @import 'layout/footer/footer-desktop';

    }
}

//APP SHELL
@keyframes app-shell {
    to {
        background-position: 100vw 0;
    }
}
.site-app-shell{
    background: linear-gradient(90deg, $color0, $color0);
    animation: app-shell 1s ease infinite;
    height:100vh;
    display: block;
}
.site-content{
    display: none;
}

.booking-form{
    background: linear-gradient(90deg, $white, $input-border);
    animation: app-shell 1s ease infinite;
    > div{
        display: none;
    }
}