.room-detail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .room-detail-container h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    margin: 0;
    padding: 0; }
  .room-detail-container section {
    padding: 40px 25px; }
  .room-detail-container h2 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: normal;
    color: #2e2f7d;
    text-align: center; }
  .room-detail-container h3 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
    color: #2e2f7d; }
  .room-detail-container p {
    font-family: garamond, arial, sans-serif;
    font-size: 18px;
    line-height: 1.22;
    color: #1d3243; }

.detail-cover {
  position: relative; }
  .detail-cover img {
    background-color: #a74792;
    height: 440px;
    width: 100%; }
  .detail-cover .cover-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 278px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #fff; }
    .detail-cover .cover-title div {
      color: #fff; }

.detail-info {
  background-color: #f7f7f7; }
  .detail-info .info-text {
    max-height: 320px;
    overflow-y: hidden;
    -webkit-transition: max-height 0.8s cubic-bezier(0, 1, 0, 1);
    -o-transition: max-height 0.8s cubic-bezier(0, 1, 0, 1);
    transition: max-height 0.8s cubic-bezier(0, 1, 0, 1); }
    .detail-info .info-text.expand {
      max-height: 440px;
      height: 100%; }
  .detail-info .expand-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px;
    height: 32px; }
  .detail-info .icon {
    width: 32px;
    height: 32px;
    -o-object-fit: contain;
    object-fit: contain; }
  .detail-info .expand-text {
    line-height: 32px;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px; }

.detail-feature .feature-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .detail-feature .feature-wrapper .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 130px;
    margin-top: 40px; }
    .detail-feature .feature-wrapper .feature .feature-text {
      width: 130px;
      height: 45px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: center;
      color: #1d3243; }
    .detail-feature .feature-wrapper .feature .feature-icon {
      margin-bottom: 26px;
      width: 105px;
      height: auto; }

.swiper-container {
  padding: 40px 0px !important; }
  .swiper-container h2 {
    margin-bottom: 30px; }
  .swiper-container .swiper-slide .swiper-img {
    width: 100%; }

.detail-description .subtitle {
  margin-bottom: 20px; }

.detail-description .unit-container {
  position: relative; }
  .detail-description .unit-container .unit-img {
    width: 275px;
    height: 204px;
    margin: auto 0;
    min-width: 270px; }
  .detail-description .unit-container .tooltip-container {
    position: absolute; }
    .detail-description .unit-container .tooltip-container .unit-tooltip {
      position: absolute;
      text-align: center;
      color: white;
      z-index: 98; }
      .detail-description .unit-container .tooltip-container .unit-tooltip .rect {
        background-color: #2e2f7d;
        font-weight: 600;
        width: 92px;
        min-height: 46px;
        border-radius: 6px;
        font-size: 12px;
        -webkit-transform: translate(-50%, -140%);
        -ms-transform: translate(-50%, -140%);
        transform: translate(-50%, -140%);
        position: absolute;
        padding: 4px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .detail-description .unit-container .tooltip-container .unit-tooltip .rect::after {
          content: "";
          position: absolute;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          left: 50%;
          top: 98%;
          border-width: 6px;
          border-style: solid;
          border-color: #2e2f7d transparent transparent transparent; }
        .detail-description .unit-container .tooltip-container .unit-tooltip .rect .unit-type {
          font-weight: 300; }
    .detail-description .unit-container .tooltip-container .unit-mark {
      position: relative; }
      .detail-description .unit-container .tooltip-container .unit-mark .mark-button {
        position: absolute;
        -webkit-transform: translate(-48%, -50%);
        -ms-transform: translate(-48%, -50%);
        transform: translate(-48%, -50%);
        font-size: 24px;
        z-index: 97; }
      .detail-description .unit-container .tooltip-container .unit-mark .circle-container {
        position: absolute; }
        .detail-description .unit-container .tooltip-container .unit-mark .circle-container .circle {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: #fff;
          position: relative;
          -webkit-transition: height 0.25s ease, width 0.25s ease;
          -o-transition: height 0.25s ease, width 0.25s ease;
          transition: height 0.25s ease, width 0.25s ease;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        .detail-description .unit-container .tooltip-container .unit-mark .circle-container .circle:before,
        .detail-description .unit-container .tooltip-container .unit-mark .circle-container .circle:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 50%;
          border: 1px solid #fff; }
        .detail-description .unit-container .tooltip-container .unit-mark .circle-container .circle:before {
          -webkit-animation: ripple 3s linear infinite;
          animation: ripple 3s linear infinite; }
        .detail-description .unit-container .tooltip-container .unit-mark .circle-container .circle:after {
          -webkit-animation: ripple 3s linear 2s infinite;
          animation: ripple 3s linear 2s infinite; }

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1); }
  75% {
    -webkit-transform: scale(2.5);
    opacity: 1; }
  100% {
    -webkit-transform: scale(4);
    opacity: 0; } }

@keyframes ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  75% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 1; }
  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0; } }

.detail-description .unit-props {
  font-size: 18px;
  color: #1d3243;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  font-family: garamond, arial, sans-serif; }
  .detail-description .unit-props li {
    margin-bottom: 10px; }
    .detail-description .unit-props li .props-name {
      width: 120px;
      display: inline-block;
      vertical-align: top; }
    .detail-description .unit-props li .props-val {
      width: calc(100% - 130px);
      display: inline-block;
      padding-left: 10px;
      vertical-align: top; }

.includes-img {
  height: 240px;
  width: 100%; }

@supports ((display: -ms-grid) or (display: grid)) {
  @media screen and (min-width: 1025px) {
    .room-detail-container h1 {
      font-size: 38px;
      line-height: 1.32;
      text-align: left;
      color: #fff; }
    .room-detail-container section {
      padding: 80px 200px; }
    .room-detail-container h2 {
      font-size: 32px; }
    .room-detail-container h3 {
      font-size: 32px; }
    .room-detail-container p {
      font-size: 20px; }
    .detail-cover img {
      height: 676px;
      width: 100vw; }
    .detail-cover .cover-title {
      max-width: 1160px;
      left: 50%;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      text-align: left; }
    .detail-info .row-container {
      background-color: #f7f7f7;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .detail-info .row-container .info-text {
        max-width: 760px;
        max-height: 200px;
        text-align: center; }
        .detail-info .row-container .info-text.expand {
          max-height: 480px; }
      .detail-info .row-container .expand-text {
        font-size: 16px;
        letter-spacing: 2.67px; }
    .detail-feature .feature-wrapper {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .detail-feature .feature-wrapper .feature {
        width: 150px;
        margin-top: 50px; }
    .detail-description {
      padding: 40px 0px !important;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .detail-description .unit-container img {
        width: 521px;
        height: 386px;
        margin: 0; }
      .detail-description .unit-container .tooltip-container .unit-tooltip .rect {
        width: 174px;
        min-height: 81px;
        border-radius: 10px;
        font-size: 18px; }
        .detail-description .unit-container .tooltip-container .unit-tooltip .rect::after {
          content: "";
          border-width: 11px; }
      .detail-description .unit-container .tooltip-container .unit-mark .mark-button {
        font-size: 32px; }
      .detail-description .unit-container .tooltip-container .unit-mark .circle-container .circle {
        height: 38px;
        width: 38px; }
      .detail-description .unit-props {
        font-size: 20px;
        line-height: 1.1; }
        .detail-description .unit-props li {
          margin-bottom: 20px; }
          .detail-description .unit-props li .props-name {
            width: 130px; }
          .detail-description .unit-props li .props-val {
            display: inline; }
    .includes-img {
      display: none; } } }
