//font-face
@mixin fontFace($family, $url, $fontWeight: normal, $fontStyle: normal) {
    @font-face {
        font-family: $family;
        src:    url(#{$baseHref + $url + '.woff2'}) format('woff2'),
                url(#{$baseHref + $url + '.woff'}) format('woff'),
                url(#{$baseHref + $url + '.ttf'}) format('truetype');
        font-weight: $fontWeight;
        font-style: $fontStyle;
        font-display: swap;
    }
}

//@media
@mixin setMediaScreen($feature, $value) {
    @media screen and (#{$feature}: #{$value}) {
        @content;
    }
}

@mixin setMediaPrint {
    @media print {
        @content;
    }
}

//grid-area
@mixin setGridArea($first, $last) {
    @for $i from $first through $last {
        > .ga#{$i} {
            grid-area: ga#{$i};
        }
    }
}

//cover object
@mixin ems-cover {
	position: absolute;
	left: 0;
    top: 0;
	width: 100%;
    height: 100%;
    background: none;
    border: none;
    > * {
        display: none;
    }
}

//curve
@mixin setCurve($skewX, $translateX) {
    transform: skewX(#{$skewX}deg) translateX(#{$translateX}px);
}

//rotate
@mixin setTurn($rotate) {
    transform: rotate(#{$rotate}deg)
}

//mirror
@mixin turn-mirror {
    transform: scale(-1);
}

//height
@mixin setHeight($imgW, $imgH, $container) {
    height: calc(#{$container} / (#{$imgW} / #{$imgH}));
}