.ems-page-campaign {}

.campaign-list {
    $p: 40px;
    .swiper-inner {
        margin-top: #{-$p};
        margin-left: #{-$p};
    }
    .swiper-slide {
        margin-top: $p;
        padding-left: #{$p};
        width: calc(100% / 3);
        &:nth-child(1),
        &:nth-child(2) {
            width: calc(100% / 2);
            .banner-body {
                position: absolute;
                top: auto;
                bottom: 0;
                padding: 40px 50px;
            }
        }
    }
}