.ems-page-campaign {}

.campaign-list {
    $p: 20px;
    margin-top: #{-$p};
    .swiper-inner {
        margin-top: #{-$p};
    }
    .swiper-slide {
        margin-top: #{$p};
        width: 100%;
    }
}