.ems-page-dealer {
    &-grid {
        > .ga1 {
            padding-top: 20px;
            padding-bottom: 85px;
        }
    }

    .page-top-title {
        font-size: 22px;
        font-weight: 700;
    }
    .page-top-desc {
        font-family: $font2;
        font-size: 16px;
        margin-top: 20px;
    }

    .or {
        font-family: $font2;
        font-size: 13px;
        color: $color6;
    }
}

.dealer-form {
    .ems-field-css {
        width: calc(50% - 5px);
    }
}

.dealer-stock-information {
    margin-top: 50px;
}

.servisIcerik {
    &:empty {
        display: none;
    }    
}

.servis_bilgi {
    font-family: $font2;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.secIlce {
    &:not(:empty) {
        &::before {
            content: "- ";
        }
    }
}

.pServisListe  {
    position: relative;
    border-top: 1px solid $color9;
    padding: 15px 10px;
    font-family: $font2;
    font-size: 15px;
    > * {
        display: none;
    }
}
.divServisListe_FirmaAdi {
    display: block;
    font-weight: 500;
}
.divServisListe_Adres {
    display: block;
    margin-top: 15px;
}
.divServisListe_Telefon {
    display: block;
    margin-top: 15px;
    color: $color7;
}
.divServisListe_Koordinat {
    a[rel] {
        @include ems-cover;
    }    
}
.show-map-btn {
    display: none;
}

.address-detail {
    display: none;
    &-inner {
        position: sticky;
        top: 130px;
        .back-btn,
        .toggle-map,
        .left-column {
            display: none;
        }
    }
}
#Map.map {
    height: 600px;
}