//DEFAULT
.ems-page-hierarchy {
    &-grid {
        grid-template-columns: 300px 20px minmax(auto, 890px) 20px 1fr;
        grid-template-areas: "ga1 . ga2 . .";

        @include setGridArea(1,2);

        > .ga1 {
            position: static;
            padding-bottom: 50px;
            min-height: 100vh;
        }
    }

    .page-top-title {
        + .html-content {
            margin-top: 20px;
        }
    }
}

//1 COL
.ems-page-1-col {
    &-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
        "ga1";
        
        @include setGridArea(1,1);
    }
}