.homepage-slider{
    .swiper-wrapper{
        .swiper-slide{
            &.screen-1{
                .first-content{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    > div{
                        width:50%;
                    }
                    .content-left{
                        background: #453d98;
                        height:100vh;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        flex-wrap: wrap;
                        &-text{
                            min-width: 580px;
                            > span{
                                text-align: left;
                                &:nth-child(1){
                                    font-size:18px;
                                }
                                &:nth-child(2){
                                    font-size:68px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                    .content-right{
                        height:100vh;
                        display: flex;
                        background:url("/UPLOAD/frontend/first-banner.png");
                    }
                }
            }
            &.screen-2{
                .second-slide{
                    max-width: 1150px;
                    padding: inherit;
                    .second-left{
                        margin-right:120px;
                        display: block;
                    }
                    .second-right{
                        text-align: left;
                        .image-ico{
                            margin-bottom:65px;
                            svg{
                                font-size:110px;
                            }
                        }
                        .title{
                            font-size:32px;
                            margin-bottom:30px;
                        }
                        .content{
                            font-size:20px;
                        }
                    }
                }
            }
            &.screen-3{
                .third{
                    max-width: 1150px;
                    margin:0 auto;
                    &-header{
                        margin-bottom: 50px;
                        p{
                            font-size:20px;
                            line-height: 26px;
                            color:$font-color;
                        }
                    }
                    &-body{
                        ul{
                            li{
                                width:calc(100% / 6 - 30px);
                                img{
                                    max-width: 120px;
                                    margin-bottom:15px;
                                }
                                span{
                                    font-size:16px;
                                    line-height: 22px;
                                }
                            }
                        }
                    }
                    &-footer{
                        margin-top:95px;
                        .btnDefault{
                            border-radius: 100px;
                        }
                    }
                }
            }
            &.screen-4{
                .how-it-works{
                    .hiw-content{
                        max-width: 1160px;
                        width:100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .hiw-left{
                            width:50%;
                            text-align: left;
                            span{
                                display: block;
                                width:100%;
                                &:nth-child(1){
                                    font-weight: bold;
                                    font-size:32px;
                                    font-family: $font1;
                                    margin-bottom:81px;
                                }
                            }
                            p{
                                font-family: $font2;
                                line-height: 1.3;
                                font-size:20px;
                                color:$font-color;
                                max-width: 420px;
                            }
                        }
                        .hiw-right{
                            width:50%;
                        }
                    }
                    .swiper-pagination{
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        display: flex;
                        justify-content: flex-start;
                        bottom: 65px;
                        padding: 0px;
                        width: 1160px;
                    }
                }
            }
        }
    }
}
























