// Homepage Full-Content Slider
.homepage-slider{
    &.swiper-container {
        width: 100%;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            >div{
                width:100%;
                .first-content{
                    background:url("/UPLOAD/frontend/first-banner.png");
                    height:100vh;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: top center;
                    .content-right{
                        display: none;
                    }
                    .content-left{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width:100%;
                        &-text{
                            > span{
                                display: block;
                                text-align: center;
                                color:#fff;
                                font-family: $font1;
                                &:nth-child(1){
                                    font-size:18px;
                                }
                                &:nth-child(2){
                                    font-size:50px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}