.homepage-slider{
    .swiper-wrapper{
        .swiper-slide{
            &:nth-child(1){
                .first-content{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    > div{
                        width:50%;
                    }
                    .content-left{
                        background: #453d98;
                        height:100vh;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        flex-wrap: wrap;
                        &-text{
                            min-width: 580px;
                            > span{
                                text-align: left;
                                &:nth-child(1){
                                    font-size:18px;
                                }
                                &:nth-child(2){
                                    font-size:68px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                    .content-right{
                        height:100vh;
                        display: flex;
                        background:url("/UPLOAD/frontend/first-banner.png");
                    }
                }
            }
        }
    }
}
























