.room-detail-container {
  .detail-cover {
    position: relative;
  
    &-img {
      .obj-mobile {
        min-height: 440px;
        object-fit: cover;
      }
    }
  
    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 280px;
      color: $white;
      text-align: center;
  
      .cover-title {
        span {
          display: block;
          font-size: 16px;
          line-height: 1.4;
        }
  
        h1 {
          font-size: 32px;
          font-weight: 500;
          line-height: 1.2;
        }
      }
    }
  }
  .detail-top-bar{
    height:65px; 
    display: flex;
    align-items: flex-end;
    position:sticky;
    top:52px;
    background:$white;
    z-index: 100;
    .row-container{
     border-bottom:1px solid #e0e0e0;
      width:calc(100% - 60px);
      margin: auto;
      display: flex;
      flex-wrap:wrap;
      align-items: flex-end;
      height:100%;
      .topbar-swiper{
        height:auto;
        .swiper-wrapper{
          .swiper-slide{
            a{
              display: block;
              text-align: center;
              padding:10px;
              font-size:12px;
              border-bottom:2px solid transparent;
            }
            &.selected{
              a{
                border-bottom:2px solid $color0;
              }
            }
          }
        }
      }
    }
  }
  .detail-info {
    background: $color12;
    padding: 40px 30px;

    >.row-container {
      .info-text {
        font-family: $font2;
        font-size: 18px;
        line-height: 22px;
        color: $font-color;
        overflow: hidden;
        height: 280px;
        transition: height 0.8s cubic-bezier(0, 1, 0, 1);

        &.expand {
          height: 400px;
        }

        p {
          margin-bottom: 20px;
        }
      }

      .expand-button-container {
        display: flex;
        align-items: center;
        margin-top: 40px;
        height: 32px;

        .icon {
          width: 32px;
          height: 32px;
          object-fit: contain;
        }

        .expand-text {
          line-height: 32px;
          vertical-align: middle;
          margin-left: 5px;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 2px;
        }
      }
    }
  }

  .detail-feature {
    .subtitle {
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      margin:60px 0px;
    }

    .feature-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0px 30px;
      .feature {
        text-align: center;
        width: 49%;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        >div {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &-icon {
          min-height: 88px;
        }

        &-title {
          display: none !important;
        }

        &-text {
          height: 50px;
          width:100%;
        }
      }
      &.two{
        justify-content: center;
        .feature{
          width:100%;
          > div{
            margin-bottom:15px;
            max-width: 280px;
            width:100%;
            color:$font-color;
          }
          &-icon{
            margin-bottom:20px !important;
            img{
              max-width:140px;
            }
          }
          &-title{
            display: block !important;
            font-size:16px;
            font-weight: bold;
          }
          &-text{
            font-size:18px;
            font-family: $font2;
            line-height:1.22;
            height:auto;
          }
        }
      }
    }
  }

  .room-gallery-full {
    >.swiper-container {
      .swiper-inner {
        .subtitle {
          text-align: center;
        }

        .swiper-slide {
          .obj-mobile {
            min-height: 440px;
            object-fit: cover;
          }
        }
      }

      .swiper-pagination-bullets {
        display: block;
        position: absolute;

        .swiper-pagination-bullet {
          position: relative;
          width: 16px;
          height: 16px;
          background: unset;
          transition: all .5s;
          padding: 4px;

          &:before {
            content: '';
            width: 8px;
            height: 8px;
            background: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            transition: all .5s;
          }

          &-active {
            border: 1px solid #fff;

            &::before {
              background: #fff;
            }
          }
        }
      }
    }
  }


  .detail-description {
    margin-top:50px;
    .subtitle {
      margin-bottom: 20px;
    }
    .unit-container {
      position: relative;
      width:85%;
      margin:0 auto;
      .tooltip-container {
        position: absolute;
        .unit-tooltip {
          position: absolute;
          text-align: center;
          color: $white;
          z-index: 98;
          .rect {
            background-color: $color1;
            font-weight: 500;
            width: 92px;
            min-height: 46px;
            border-radius: 6px;
            font-size: 12px;
            transform: translate(-50%, -140%);
            position: absolute;
            padding:4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &::after {
              content: "";
              position: absolute;
              transform: translateX(-50%);
              left: 50%;
              top: 98%;
              border-width: 6px;
              border-style: solid;
              border-color: $color1 transparent transparent transparent;
            }
            .unit-type {
              font-weight: 300;
            }
          }
        }
        .unit-mark {
          position: relative;
          .mark-button {
            position: absolute;
            transform: translate(-48%, -50%);
            font-size: 24px;
            z-index: 97;
          }
          .circle-container {
            position: absolute;
            .circle {
              height: 20px;
              width: 20px;
              border-radius: 50%;
              background-color: #fff;
              position: relative;
              -webkit-transition: height 0.25s ease, width 0.25s ease;
              transition: height 0.25s ease, width 0.25s ease;
              -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
            }
            .circle:before,
            .circle:after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              border-radius: 50%;
              border: 1px solid #fff;
            }
            .circle:before {
              -webkit-animation: ripple 3s linear infinite;
              animation: ripple 3s linear infinite;
            }
            .circle:after {
              -webkit-animation: ripple 3s linear 2s infinite;
              animation: ripple 3s linear 2s infinite;
            }
            @-webkit-keyframes ripple {
              0% {
                -webkit-transform: scale(1);
              }
              75% {
                -webkit-transform: scale(2.5);
                opacity: 1;
              }
              100% {
                -webkit-transform: scale(4);
                opacity: 0;
              }
            }
            @keyframes ripple {
              0% {
                transform: scale(1);
              }
              75% {
                transform: scale(2.5);
                opacity: 1;
              }
              100% {
                transform: scale(4);
                opacity: 0;
              }
            }
          }
        }
      }
    }
    .unit-container-items {
      width:90%;
      margin:50px auto;
      .unit-props {
        font-size: 18px;
        color: $color9;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        font-family: $font2;
    
        li {
          margin-bottom: 10px;
    
          .props-name {
            width: 120px;
            display: inline-block;
            vertical-align: top;
          }
          .props-val {
            width: calc(100% - 130px);
            display: inline-block;
            padding-left: 10px;
            vertical-align: top;
          }
        }
      }
    }
    
  }


  .concept-unit-description{
      .concept-unit-container{
        display: flex;
        flex-wrap:wrap;
        > div{
          width:100%;
        }
        .concept-unit-html{
          padding:40px 5%;
          .subtitle{
            font-size:20px;
            font-weight: bold;
          }
          .concept-unit-props{
            padding-left:5%;
            li{
              position: relative;
              margin-bottom:5px;
              padding:5px 0px;
              font-size:18px;
              line-height: 1.22;
              font-family: $font2;
              .unit-props-item{
                width:100%;
              }
              .unit-props-icon{
                display: none;
              }
            }
            &.no-icon{
              li{
                position: relative;
                &:after{
                  content:'';
                  position: absolute;;
                  left:-17px;
                  top:50%;
                  transform: translateY(-50%);
                  width:7px;
                  height:7px;
                  border-radius:14px;
                  background: $color16;
                }
              }
            }
            &.tick-icon{
              padding-left:0px !important;
              li{
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                flex-wrap:wrap;
                .unit-props-item{
                  width:70%;
                }
                .unit-props-icon{
                  display: inline-block !important;
                  width:30%;
                  text-align: right;
                }
              }
            }
          }
        }
      }
  }
}