//DESKTOP 
    .room-detail-container {

      .detail-cover {
        &-img {
          height: 676px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        &-text {
          width: 100%;
          max-width: 1160px;
          text-align: left;

          .cover-title {
            max-width: 500px;

            span {
              font-size: 18px;
            }

            h1 {
              font-size: 38px;
              line-height: 50px;
              font-weight: 500;
            }
          }
        }
      }

      .detail-top-bar {
        height: 77px;
        display: flex;
        align-items: flex-end;
        position: sticky;
        top: 84px;
        background: $white;
        z-index: 9990;

        .row-container {
          border-bottom: 1px solid #e0e0e0;
          max-width: 760px;
          width: 100%;

          .topbar-swiper {
            .swiper-wrapper {
              justify-content: center;

              .swiper-slide {
                width: 25% !important;

                a {
                  font-size: 16px;
                  color: $font-color;

                  &:hover {
                    color: $color0;
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
      }

      .detail-info {
        min-height: 500px;
        display: flex;
        align-items: center;

        >.row-container {
          .info-text {
            max-width: 760px;
            margin: 0 auto;
            text-align: center;
            height: 150px;

            &.expand {
              height: 250px;
            }
          }

          .expand-button-container {
            justify-content: center;
          }
        }
      }

      .detail-feature {
        min-height: 600px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .subtitle {
          width: 100%;
        }

        .feature-wrapper {
          width: 100%;
          justify-content: center;

          .feature {
            width: 20%;
          }
        }

        .feature-wrapper {
          &.two {
            .feature {
              width: 50%;

              &-icon {
                margin-bottom: 30px !important;

                img {
                  max-width: 260px;
                }
              }

              >div {
                max-width: 300px;
              }
            }
          }
        }
      }

      .room-gallery-full {
        margin-bottom:80px;
        .swiper-container {
          .swiper-inner {
            .subtitle {
              font-size: 32px;
            }

            .swiper-wrapper {
              .swiper-slide {
                img {
                  width: 100%;
                  height: 676px;
                }
              }
            }
          }
        }
      }

      .detail-description {
        padding: 80px 0px;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;

        .unit-container {
          max-width: 520px;

          .tooltip-container {
            .unit-tooltip {
              .rect {
                width: 174px;
                min-height: 81px;
                font-size: 18px;

                &:after {
                  border-width: 14px;
                }
              }
            }

            .unit-mark {
              .mark-button {
                font-size: 30px;
              }

              .circle-container {
                .circle {
                  width: 38px;
                  height: 38px;
                }
              }
            }
          }
        }

        .unit-container-items {
          width: calc(100% - 600px);
          padding-left: 50px;

        }
      }

      .concept-unit-description{
        .concept-unit-container{
          margin-bottom:90px;
          &:last-child{
            border-bottom:1px solid $color16;
            margin-bottom:40px;
            padding-bottom:40px;
          }
          &:nth-child(even){
            flex-direction: row-reverse;
          }
          > div{
            width:50%;   
            display:flex;
            align-content: center;
            justify-content: flex-start;
            flex-wrap:wrap;
          }
          .concept-unit-wrapper{
            justify-content: center;
          }
          .concept-unit-html{
            .subtitle{
              font-size:32px;
            }
            .concept-unit-props{
              li{
                font-size:20px;
              }
            }
          }
        }
      }


      .concept-pricing{
        .row-container{
          max-width: 600px;
        }
        &-header{
          border-top:none;
          .svg-icon{
            img{
              max-width: 66px;
            }
          }
        }
        &-body{
          .body-title{
            text-align: center;
          }          
          .body-p{
            height:160px;
            &::-webkit-scrollbar {
              width: 4px;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 4px;
              background: $color3;
            }
          }
        }
        &-footer{
          
        }
      }

    }
