.ems-member-order {
    padding-top: 40px;
}

.ems-grid-table-order {
    > .ems-grid-row {
        grid-template-columns: 130px 80px 80px 1fr 1fr 1fr;
        padding-right: 0;
    }
}

//order-detail
.order-detail-info {
    $ml: 20px;
    column-count: 2;
    column-gap: 0;
    margin-left: -$ml;
    > {
        break-inside: avoid;
    }
}

.act-btns {
    > * + *:not(:empty) {
        margin-top: 0;
        margin-left: 10px;
    }
}


.order-address {
    margin-left: -20px;
    margin-bottom: 30px;
}

.ems-step0 .ems-grid-table-order-products {
    > .ems-grid-row {
        grid-template-columns: 90px 1fr 113px 1fr;
    }
}