//new message
#mesajGonder {
    .btnMesajGonder {
        width: auto;
        min-width: 170px;
    }
}

//message list
.kutuBodyMesaj {
    margin: 30px 0 0 -10px;
    a {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.kutuMesaj_yeni {
    position: absolute;
    right: 0;
    top: 14px;
    margin: 0 !important;
}

.ems-member-message {}
.ems-grid-table-message {
    > .ems-grid-row {
        grid-template-columns: 10px 150px 2fr 1fr 1fr;
    }
    .newMessage {
        .ems-grid-date {
            font-weight: 500;
        }
    }
}

//message detail
.ems-member-message-detail {
    .ems-form {
        margin: 0;
    }
}
#plhBtnMesajCozuldu {
    margin-top: 0;
    margin-left: 20px;
}