.ems-member-favorite {
    padding-top: 50px;
}

.ems-grid-table-favorite {
    > .ems-grid-row {
        grid-template-columns: 20px 100px 2.5fr 175px 113px 1fr;
    }
}

.selected-action {
    a {
        min-width: auto;
    }
    .remove-selected {
        margin-top: 0;
        margin-left: 20px;
    }
}