//GIFT CARD SATIN AL
.ems-page-gift-card {
    background: $color1 url(/images/frontend/bg01.png) left top / 100% no-repeat;
    color: $color2;
    padding: 70px 20px 0;

    .instagram-feed {
        padding-top: 120px;
    }
}

.ems-member-gift-card-list {
    font-family: $font2;
    font-size: 16px;

    .urunDetay_btnSepeteAt {
        margin-top: 0;
    }
    a.btnsepeteAt {
        @extend %btn-primary;
    }
}

ul.giftCardList {
    margin-top: 20px;
    display: flex;
    align-items: center;
    li {
        > a {
            display: block;
            padding: 10px 20px;
            border: 1px solid transparent;
            font-size: 16px;
        }
        &.selected {
            > a {
                border: 1px solid $color2;
            }
        }
    }
}

.gift-card-send {
    margin-top: 40px;
    animation: show .5s ease;
}

.giftCardInfoContainer {
    margin-top: 40px;
}

//GIFT CARD SORGULA
.ems-member-gift-card {}
.gift-card-control {
    > .ga1,
    > .ga2 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

a.lnkSorgula {
    @extend %btn;
}
a.lnkSatinAl {
    @extend %btn;
    @extend %btn-secondary;
}

//GIFT CARD UYGULA
.pageOdemeBilgi_odemeCekiGiris {
    display: block !important;
    margin-top: 20px;
}
.odemeCekiKullanim,
.odemeCekiKullanimOzet > div {
    border-top: 1px solid $color5;
    padding: 20px 0;
}

.odemeCekiKullanim {
    position: relative;
    
}
.odemeCekiEkleBtn {
    position: absolute;
    right: 8px;
    top: calc(50% + 11px);
    transform: translateY(-50%);
    font-size: 0;
}
a.btnOdemeCekiEkle {
    @extend %btn-icon;
}

.odemeCekiKullanimOzet {
    font-family: $font2;
    font-size: 16px;
}
.ulOdemeCekiKullanim {
    > li {
        display: flex;
        align-items: center;
        + li {
            margin-top: 10px;
        }
    }
}
.odemeCekiKaldir {
    order: -1;
}
.odemeCekiTutar {
    margin-left: auto;
    font-weight: 700;
}

.odemeCekiKalan {
    font-weight: 700;
    text-align: right;
}