.ems-member-favorite {
    &.no-result {
        padding-top: 0;
        .ems-message-favorite {
            display: flex;
        }
        .selected-action {
            display: none;
        }
    }
}

.ems-grid-table-favorite {
    > .ems-grid-row {
        grid-template-columns: 100px 1fr;
    }
}

.urunListe_secenek1 {
    .dropdown-trigger {
        display: block;
    }
    .dropdown-options {
        display: none !important;
        animation: show .5s ease;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 1;
        width: 100%;
        margin: -1px 0 0 0;
        background: $color2;
        border: 1px solid $color5;
    }
    &.opened {
        .dropdown-options {
            display: block !important;
        }
    }
}

.selected-action {
    margin-top: 20px;
    a {
        min-width: 200px;
        > span.emos_invisible {
            display: none;
        }
    }
    .remove-selected {
        margin-top: 20px;
        > a {
            @extend %btn-secondary;
        }
    }
}