.ems-member-order {
    &.no-result {
        padding-top: 0;
        .ems-message-order {
            display: flex;
        }
    }
}

.ems-grid-table-order {
    > .ems-grid-row {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding-right: 80px;
    }
}

//order-detail
.order-detail-info {
    $ml: 20px;
    font-family: $font2;
    font-size: 14px;
    margin-top: 5px;
    .text {
        font-weight: 500;
    }
    > div {
        display: flex;
        align-items: center;
        > div {
            flex: 1;
            padding: 10px $ml;
        }
    }
}

.act-btns {
    margin-top: 20px;
    > * + *:not(:empty) {
        margin-top: 10px;
    }
}

#plhSipTekrarla {
    a.lnkSipTekrarla {
        @extend %btn;
        text-transform: uppercase;
    }
    .st-list {
        display: none;
    }
    .st-detail {
        display: inline;
    }
}

a.btnSipIade,
a.btnSipIptal {
    @extend %btn-secondary;
}

.order-address {
    margin-top: 20px;
    font-family: $font2;
    font-size: 15px;
    line-height: 1.7;
    .text {
        font-weight: 700;
    }
    > div {
        padding: 2px 20px;
    }
}

.ems-grid-table-order-products {
    margin-top: -1px;
    .ems-grid-name {
        font-size: 0;
        a {
            font-size: 16px;
            strong {
                display: none;
            }
            ~ a {
                display: none;
            }
        }
    }
}

.order-detail-info-payment {
    max-width: 320px;
}

a.btnSipariseDon {
    @extend %btn-reset;
    font-family: $font2;
    font-size: 16px;
    margin: 20px 0;
    .icon-triangle-b {
        @include setTurn(90);
    }
}