.ems-member-password {}

a.btnSifreGuncelle {
    @extend .btnUyeBilgi;
}


//sifremi unuttum
form[action*="sifremiunuttum"] {
    .ems-page-member-grid {
        > .ga1 {
            display: none;
        }
    }
}

.pageSifremiUnuttum {
    padding: 50px 20px;
}

.pageHeaderSifremiUnuttum,
.pageDescSifremiUnuttum {
    display: none;
}

.pageErrorSifremiUnuttum {
    margin-bottom: 30px;
}

.tableSifremiUnuttum {
    max-width: 360px;
    tr {
        display: flex;
        flex-direction: column;
        + tr {
            margin-top: 20px;
        }
    }
    th {
        @extend .ems-form-label;
        text-align: left;
    }
}

a.btnUyeSifreGonder {
    @extend .btnUyeBilgi;
}