.ems-step0,
.guestCheckout {
    .ems-order-cart {
        &-grid {
            grid-template-columns: 20px 1fr minmax(auto, 780px) 20px 380px 1fr 20px;
            grid-template-areas: ". . ga1 . ga2 . .";
        
            @include setGridArea(1,2);
        }
    }
    
    .ems-grid-table-cart {
        > .ems-grid-row {
            grid-template-columns: 90px 1fr 113px 1fr 20px;
        }
    }
}

.cart-promotion-info {
    margin-bottom: 40px;

    $p: 20px;
    .swiper-inner {
        margin-left: #{-$p};
        padding-left: 10px;
        padding-right: 10px;
    }
    .swiper-slide {
        padding-left: #{$p};
        width: calc(100% / 3);
    }
}

.pnlDipToplamTable {
    font-size: 16px;
    th {
        text-align: left;
    }
    .pnlDipToplam_sipToplam {
        font-size: 18px;
    }
}

.ems-cart-coupon {
    margin-top: 0;
}

.ems-extra-product {
    padding-left: 0;
    padding-right: 0;
}