.ems-page-order {
    .site-header {
        position: relative;
        z-index: auto;
    }
    .mini-search-info {
        > span {
            cursor: default;
        }
        .icon-user {
            --color2: #fff;
        }
    }
    .site-footer {
        padding-bottom: 200px;
        background-position-y: top;
        background-size: 100% !important;
    }
    .footer-menu {
        margin: 0;
        text-align: center;
        li {
            svg {
                font-size: 70px;
            }
        }
    }



    &-grid {
        padding-top: 40px;
        padding-bottom: 100px;
    }
    .block2 {
        background: none;
        margin-top: 0;
        padding: 20px 30px;
        border-top: 1px solid $color5;
    }
}

.bottom-step {
    margin: 30px -20px 0 -20px;
}