.ems-step0,
.guestCheckout {
    .ems-order-cart {}
    .ems-grid-table-cart {
        > .ems-grid-row {
            grid-template-columns: 75px 1fr;
        }
    }
}

.cart-promotion-info {
    margin-top: 20px;
    margin-bottom: 10px;

    $p: 10px;
    .swiper-slide {
        padding-left: #{$p};
        width: calc(100% - (20px + #{$p}));
        height: auto;
    }
    .banner {
        height: 100%;
    }
}

.odemeCeki {
    .baslik {
        color: $color1;
    }
}

.ems-cart-button {
    margin: 20px 30px 0 10px;
    a.btnDefault {
        @extend %btn-reset;
        font-family: $font2;
        font-size: 16px;
    }
    .icon-triangle-b {
        --color1: #000;
        @include setTurn(90);
    }
}

.pnlDipToplamTable {
    font-family: $font2;
    color: $color6;
    th, td {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    th {
        font-weight: 400;
        text-align: right;
    }
    td {
        width: 80px;
        font-weight: 700;
        > span {
            justify-content: flex-end;
            .d {
                display: inline;
            }
        }
    }
    .pnlDipToplam_sipToplam {
        th, td {
            color: $color1;
            font-weight: 700;
        }
    }
}
.pnlDipToplam_bankaKomisyon {
    display: none !important;
}

.ems-cart-coupon {
    margin-top: -20px;
    .input-btn {
        input + table {
            right: 8px;
            font-size: 0;
        }
    }
}
a.btnHediyeCekiKullan {
    @extend %btn-icon;
}
[id$="lblHCK_HATA"]:not(:empty) {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}
.ems-cart-coupon-info {
    position: relative;
}
[id$="lblKuponKodBilgi"]:not(:empty) {
    font-size: 16px;
    font-weight: 700;
}
a.btnHediyeCekiIptal {
    @extend %btn-reset;
}

.customer-support {
    display: none;
    font-family: $font2;
    font-size: 15px;
    margin: 20px -30px 0 -30px;
    padding: 20px 30px;
    border-top: 1px solid $color5;
    .ems-section-title {
        font-size: inherit;
        text-align: inherit;
        margin-bottom: 10px;
    }
    .swiper-slide {
        + .swiper-slide {
            margin-top: 5px;
        }
    }
    
    &-append & {
        display: block;
    }
}

.ems-extra-product {
    display: none;
    margin-top: 20px;
    padding: 20px;
    
    &-append & {
        display: block;
    }
}

.basket-empty {
    .ems-step0 .ems-order-cart-grid {
        display: none;
    }
}