.ems-page-product-list {
    padding-bottom: 80px;
    
    &-grid {
        position: relative;
    
        grid-template-columns: 30px 180px 60px minmax(700px, 1fr) minmax(auto, 270px);
        grid-template-areas:
        "ga1 ga1 ga1 ga1 ga1"
        ". ga2 . ga3 .";
    
        @include setGridArea(1,3);
    }
}

.ems-prd-list-count {
    margin-top: 40px;
    padding: 0;
}

ul.product-list-grid {
    margin-top: 30px;

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 45px;

    .view-2 & {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
}

.swiper-product-horizontal {
    .ems-prd {
        &-inner {
            padding: 10px;
        }
        &-image {
            position: static;
        }
        &-name {
            flex: 1;
        }
        &-add-to-cart {
            position: static;
            flex: 1;
        }
    }
}