.ems-page-product-list {
    &.no-result {
        .navigasyon,
        .top-buttons,
        .ems-sort {
            display: none;
        }
        .ems-message-product-list {
            margin-top: 30px;
        }
        .go-page-top {
            margin-top: 100vh;
        }
    }
}

.category-top-banner {
    margin-bottom: 40px;   
}

.ems-prd-list-count {
    margin-top: 20px;
    padding: 0 20px;
    font-family: $font2;
    font-size: 15px;
}

.top-buttons {
    margin-top: 20px;
    padding: 0 20px;
    a {
        border: none;
        line-height: normal;
        padding: 0;
    }
}

ul.product-list-grid {
    margin-top: 20px;
    transition: all .3s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    > li {
        overflow: hidden;
    }
    .view-1 & {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    &:empty {
        display: none;
    }
}

$prd-body-bg: $color10;
$prd-pd-t: 13px;
$prd-pd-r: 20px;
$prd-pd-b: 15px;
$prd-pd-l: 20px;
.ems-prd {
    &-inner {
        position: relative;
    }
    &-body {
        background: $prd-body-bg;
        color: $color1;
        padding: $prd-pd-t $prd-pd-r $prd-pd-b $prd-pd-l;
    }
    &-image {
        > a {
            display: block;
        }
        img {
            width: 100%;
        }
    }
    &-name {
        font-family: $font3;
        font-size: 16px;
        > a {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &-price {
        margin-top: 4px;
        font-size: 18px;
        font-weight: 700;
    }
    &-badge {
        font-family: $font2;
        font-size: 13px;
        margin-top: 10px;
        min-height: 19px;
        > div {
            display: none;
            position: absolute;
            left: 0;
            top: auto;
            width: 100%;
            background: $prd-body-bg;
            padding: 0 $prd-pd-r;
            > span {
                display: block;
            }
        }
    }
}
.urunListe_adet {
    [id$="txtURN_ADET"],
    [id$="lblURN_ADET"] {
        display: none;
    }
}

//badges
.indirimli {
    .urunListe_pnlIndirimOran {
        display: block !important;
        color: $color4;
    }
}
.yeniUrun {
    .urunListe_yeniUrun {
        display: block !important;
        color: $color11;
    }
}

//horizontal product
.swiper-product-horizontal {
    .ems-prd {
        border-bottom: 1px solid $color3;
        &:last-child {
            border-bottom-color: transparent;
        }
        &-inner {
            display: flex;
            flex-wrap: wrap;
            padding: 10px 10px 80px 100px;
        }
        &-badge {
            display: none;
        }
        &-image {
            position: absolute;
            left: 10px;
            top: 10px;
            max-width: 95px;
            padding: 10px;
        }
        &-body {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 0;
            background: none;
            > div {
                padding: 10px;
            }
        }
        &-name {
            flex-basis: 100%;
            font-family: $font2;
            > a {
                white-space: normal;
            }
        }
        &-price {
            margin-top: 0;
            font-size: 20px;
        }
        &-add-to-cart {
            display: block;
            position: absolute;
            right: 10px;
            left: 10px;
            bottom: 0;
        }
    }
    .urunListe_sepetGrup {
        display: flex;
        align-items: center;
    }
    .urunListe_adet {
        width: 120px;
    }
    .urunListe_sepet {
        flex: 1;
        padding-left: 20px;
    }
    a.btnSepeteAt {
        width: 100%;
        @extend %btn-transparent;
    }
}

.go-page-top {
    border-bottom: 4px solid $color4;
    padding: 26px 20px 32px;
    font-family: $font2;
    .icon-triangle-b {
        @include turn-mirror;
    }
}