.booking-form{
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #ffc2c7;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #ffc2c7;
  }
}

.booking-form-header{
    background: $color0;
    padding:0px 30px;
    height:84px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    .booking-form-title{
      span{
          font-size:16px;
          color:$white;
          font-weight: 500;
      }
    }
    .booking-form-closed{
        cursor: pointer;
    }
  }



  .booking-info-container {
    max-width: $container-d !important;
  }
  .booking-info-order-container {
    max-width: $container-d !important;
    margin-bottom:100px !important;
  }
  .booking-guest-info-container {
    max-width: $container-d !important;
  }
  .booking-payment-details-container {
    max-width: $container-d !important;
  }
  .booking-comfirmation-container{
    max-width: $container-d !important;
  }
  .booking-step-container{
    max-width: $container-d !important;
    margin-top:120px !important;
  }
  .booking-container {
    max-width: $container-d !important;
    margin:100px auto;
    .kpr-booking-warnings{
      margin-top:40px !important;
    }
  }

  .form-warnings{
    max-width: 450px;
    width:100% !important;
    overflow: inherit !important;
  }

body{
  &.booking-form-animate{
    #ui-datepicker-div{      
      width:50%;
      right:0px !important;
      left:inherit !important;
      .ui-widget-header{
        max-width:425px;
      }
      .ui-datepicker-calendar{
        max-width:425px;
      }
    }
  }
}


.bi-order-payment{
  .bi-order-payment-title{
    font-size: 16px !important;
  }
  .bi-order-payment-info{
    font-size:14px !important;
  }
}