.booking-form-header{
    background: $color0;
    padding:0px 30px;
    height:84px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    .booking-form-title{
      span{
          font-size:16px;
          color:$white;
          font-weight: 500;
      }
    }
    .booking-form-closed{
        cursor: pointer;
    }
  }



  .booking-info-container {
    max-width: $container-d !important;
  }
  .booking-info-order-container {
    max-width: $container-d !important;
  }
  .booking-guest-info-container {
    max-width: $container-d !important;
  }
  .booking-payment-details-container {
    max-width: $container-d !important;
  }
  .booking-comfirmation-container{
    max-width: $container-d !important;
  }
  .booking-step-container{
    max-width: $container-d !important;
  }
  .booking-container {
    max-width: $container-d !important;
  }
  