.isLoading{
  .booking-form{
    overflow: inherit;
    &:before{
      content:'';
      background: rgba(0, 0, 0, 0.5);
      width:100%;
      height: 100vh;
      // display: block;
      position: fixed;
      left:0px;
      top:0px;
      z-index: 99999;
      //Gif Bekleniyor.
     
      background-image: url('/UPLOAD/frontend/loading.gif');
      background-size: 200px;
      background-repeat: no-repeat;
      background-position:center;
    }
  }
}

.step3{
  .booking-menu-overlay{
    pointer-events: none;
  }
}

.step4{
  .bi-order-total{
    padding:30px 0px;
  }
  .continue-button{
    margin-bottom:30px;
  }
}
/* GENEL */
.booking-form{
  
  /* GENEL */
  
  /* GENEL TEKRARLAYAN CLASSLAR */

  .not-available{
    user-select: none !important;
    pointer-events: none !important;
    cursor: default !important;
  }
  .not-enough-capacity{
    opacity: 0.5;
    user-select: none !important;
    pointer-events: none !important;
    cursor: default !important;
  }

  .selected-item {
    background-color: $input-border;
  }
  .selected-button {
    border: 2px solid $color18 !important;
  }
  .selected-text {
    color: $color18;
    font-weight: 600;
  }
  .selected-time {
    border-radius: 20px;
    border: solid 2px $color18;
    color: $color18;
  }
  
  .booked-time {
    color: $color18;
  }
  
  .disabled {
    opacity: 0.5;
    user-select: none !important;
    pointer-events: none !important;
    cursor: default !important;
  }
  
  .active {
    font-weight: bold !important;
    color: $color0;
    border-bottom: 2px solid $color0;
  }
  .active-button {
    background-color: $color0 !important;
    color: white !important;
  }
  .filled {
    text-align: left !important;
  }
  
  .input-icon {
    width: 30px;
    height: 30px;
    margin-right: 30px;
    .icon{
      --color3: #465dc8;
    }
  }
  .info-wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap:wrap;
  }
  .input-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .input-title {
    font-weight: bold;
    color: $color0;
    font-size: 16px;
  }
  .input-subtitle {
    font-weight: bold;
    color: $color0;
  }
  .input-info {
    color: $font-color;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 22px;
    vertical-align: middle;
  }
  
  /* GENEL TEKRARLAYAN CLASSLAR */
  
  /* Form Header */

  .booking-form-header{
    display: none;
  }
  
  /* STEPS */
  .booking-step-container{
    margin:30px auto;
    max-width: $container-m;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .booking-step {
      position: relative;
      display:flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .step-number {
        position: relative;
        text-align: center;
        width: 28px !important;
        height: 28px !important;
        border-radius: 15px;
        margin-bottom:20px;
        border: 1px solid $font-color;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        .step-success {
          display: none;
        }
      }
      .step-name {
        color: $font-color;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        width:100%;
      }
    }
    .dashed-line {
      width: 60px;
      border: 1px dashed $color0;
      position: relative;
      bottom:15px;
    }
    &.step0 {
      display: none;
    }
    &.step1{
      .step-area-1{
        .step-number{
          border:1px solid $color0;
        }
        .step-name{
          color:$color0;
        }
      }
    }
    &.step2 {
      .step-area-1{
        .step-number{
          background:$color0;
          border:none;
          font-size:0px;
          .step-success{
            display:block;
            border-radius: 20px;
            border:1px solid $color0;
            font-size:14px;
            .icon{
              --color3:white;
            }
          }
        }
        .step-name{
          color:$color0;
        }
      }
      .step-area-2{
        .step-number{
          border:1px solid $color0;
        }
        .step-name{
          color:$color0;
        }
      }
    }
    &.step3 {
      .step-area-1 , .step-area-2{
        .step-number{
          background:$color0;
          border:none;
          font-size:0px;
          .step-success{
            display:block;
            border-radius: 20px;
            border:1px solid $color0;
            font-size:14px;
            .icon{
              --color3:white;
            }
          }
        }
        .step-name{
          color:$color0;
        }
      }
      .step-area-3{
        .step-name{
          color:$color0;
        }
      }
    }
    &.step4 {
      .step-area-1 , .step-area-2 , .step-area-3{
        .step-number{
          background:$color0;
          border:none;
          font-size:0px;
          .step-success{
            display:block;
            border-radius: 20px;
            border:1px solid $color0;
            font-size:14px;
            .icon{
              --color3:white;
            }
          }
        }
        .step-name{
          color:$color0;
        }
      }
    }
  }

 

  /* STEPS */
  
  /* ////////////////////////////////////////////////////////////////////// */
  
  /* BOOKING */
  
  .booking-container {
    max-width: $container-m;
    width:100%;
    margin: 20px auto 100px auto;
    display: flex;
    flex-direction: column;
     > section{
        padding: 30px 0px;
        border-bottom: 1px solid $input-border;
     }
     .guest-family-info{
        background: url('/UPLOAD/frontend/adult-info.svg');
        background-repeat: no-repeat;
        background-position: 30px 50%;
        background-color: #ecedff;
        margin-top:20px;
        padding:20px 30px 20px 95px;
        border-radius: 6px;
        .family-info-title{
          font-weight: bold;
          margin-bottom: 5px;
        }
        .family-info-phrase{
          a{
            color:$color15;
            text-decoration: underline;
          }
        }
     }
     .kpr-booking-warnings{
       margin-top:20px;
       li{
         list-style: circle;
         font-size:12px;
         position: relative;
         margin-bottom:20px;
         &:before{
           content:'';
           width:7px;
           height:7px;
           background: $color11;
           position: absolute;
           left:-16px;
           border-radius: 100%;
           top:4px;
          }
       }
     }
  }
  
  /* -LOCATION- */
  
  .location-container {
    position: relative;
  }
  
  /* DROPDOWN MENU  */
  
  .location-menu {
    position: absolute;
    left: 60px;
    top: 70px;
    padding: 10px 0px 40px 0px;
    max-width: 270px;
    max-height: 270px;
    overflow-x: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid $input-border;
    border-top: 3px solid $color18;
    background-color: $white;
    font-size: 14px;
    color:$font-color;
  }
  .location-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .location-menu div {
    padding: 0px 30px;
    line-height: 40px;
    height: 40px;
    width: 400px;
  }
  .location-menu ul li {
    line-height: 40px;
    padding: 0px 30px;
    height: 40px;
    width: 400px;
    cursor: pointer;
  }
  
  .location-menu ul li:hover {
    background-color: $color12;
  }
  
  /* DROPDOWN MENU  */
  
  /* -LOCATION- */
  
  /* -GUEST- */
  
  .guest-container .input-info span {
    padding-right:5px;
  }
  .guest-container .input-info span:last-child {
    padding:0px 5px;

  }

  .guest-container ul{
    padding-bottom:30px;
  }
  .guest-container ul li {
    font-size:12px;
    margin-top: 10px;
    position:relative;
    padding-left:20px;
    &:after{
      content:'';
      background: $color16;
      width:7px;
      height:7px;
      border-radius: 8px;
      position:absolute;
      left:5px;
      top:50%;
      transform:translate(-50% , -50%);
    }
  }
  
  /*COUNTER */
  
  .counter-container {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  
  .counter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $input-border;
    width: 50%;
    height: 80px;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    &:first-child{
      margin-right:30px;
    }
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .button-counter {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: $color0;
    width: 28px;
    cursor: pointer;
  }
  .button-container span {
    width: 50px;
    text-align: center;
  }
  
  /* COUNTER */
  
  /* -GUEST- */
  
  /* -DATEPICKER- */
  
  /* CHEKIN / OUT  */
  
  .date-picker-container{
    padding:0px !important;
    border-bottom:none !important;
    .info-wrapper {
      height: 90px;
    }
  }
  
  .date-picker-container .input-info {
    justify-content: space-between;
    > div {
      width: 50%;
      text-align: center;
      border-bottom: 1px solid $input-border;
      align-self: flex-end;
    }
    .date-subtitle {
      font-weight: 500;
      padding-bottom: 6px;
    }
    .filled {
      text-align: left !important;
      .date-subtitle {
        font-size: 12px;
        padding-bottom: 0px;
      }
      &.active{
        color: $color0;
        border-bottom: 2px solid $color0;
        .date-subtitle{
          font-weight:600;
        }
      }
    }
  }
  
  /* CHEKIN / OUT  */
  
  /* TARIH  */
  
  .calendar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    border-radius: 26px;
    border: 1px solid $input-border;
    margin-top: 20px;
  }
  .date-counter-button {
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    text-align: center;
  }
  .calendar-button {
    font-weight: bold;
    color: $color0;
    width: 70%;
    text-align: center;
  }
  
  /* TARIH  */
  
  /* SAAT */
  
  .time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0px;
    margin-top: 30px;
    flex-wrap: wrap;
    width: 100%;
      li {
        border:2px solid transparent;
        width: 16.6%;
        margin: 1px 0px;
        padding:9px 0px;
        font-size:12px;
        text-align: center;
        border-radius: 18px;
        cursor: pointer;
        &.selected-time{
          border:2px solid $color18;
        }
      }
  }

  /* SAAT */
  
  /* COMFIRM BUTTON */
  
  .comfirm-button {
    cursor: pointer;
    width: 240px;
    height: 42px;
    margin-top: 50px;
    border-radius: 21px;
    text-align: center;
    line-height: 42px;
    border: none;
    background-color: $buton-disable;
    color: #ababab;
    align-self: center;
    font-weight: 600;
  }
  /* COMFIRM BUTTON */
  
  /* BOOKING */
  
  /* ////////////////////////////////////////////////////////////////////// */
  
  /* BOOKING INFO */
  
  .booking-info-container {
    max-width: $container-m;
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size:12px;
    > section {
      padding: 30px 0px;
    }
  }
  
  /* BOOKING INFO CARD BASLANGIC */
  
  .booking-info-card-container {
    border-radius: 6px;
    border: solid 1px $input-border;
    padding: 30px 20px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      .booking-info-card-wrapper {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: normal;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 75%;
        .booking-info-card-item{
          display: flex;
          margin-bottom:10px;
          &-icon{
            margin-right:10px;
            --color3:#465dc8;
            .icon{
              font-size:20px;
            }
          }
          .booking-info-item-detail{
            .booking-info-date{
              font-weight: 600;
              font-size:12px;
              color:$color0;
            }
          }
        }
      }
      .bi-button-back {
        color: $color15;
        text-decoration: underline;
        align-self: center;
        cursor: pointer;
        width:25%;
      }
  }
  
  
  /* BOOKING INFO CARD BASLANGIC */
  
  /* BOOKING INFO PRODUCT BASLANGIC */
  
  .booking-info-product-container {
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.38;
      color: $font-color;
      border-bottom: 1px solid $input-border;
      padding-bottom: 10px;
    }
  }
  .booking-info-product-wrapper {
    display: flex;
    flex-direction: column;
    .booking-info-product {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 0px;
      border-bottom: 1px solid $input-border;
      .bi-product-image {
        width: 120px;
        border-radius: 6px;
      }
      .bi-product-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width:57%;
        .bi-product-title {
          font-size: 14px;
          font-weight: 600;
          line-height: 2.57;
          color: $color0;
        }
        .bi-product-specs{
          li{
          font-size: 12px;
          line-height: 3;
          padding-left:32px;
          position: relative;
          &::after{
            content:'';
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMC4zMjgiIGhlaWdodD0iNy40NTQiIHZpZXdCb3g9IjAgMCAxMC4zMjggNy40NTQiPg0KICA8cGF0aCBpZD0iY2hlY2stZGVmYXVsdCIgZD0iTTIwLjI2NSwxMi42MTFBLjguOCwwLDAsMSwyMS40LDEzLjc0MmgwTDE1LjcsMTkuNDM3YS44MTguODE4LDAsMCwxLS4xMjQuMTYuOC44LDAsMCwxLTEuMTMxLDBoMGwtMi45MTEtMi45MTFhLjguOCwwLDAsMSwxLjEzMS0xLjEzMWgwbDIuMzI2LDIuMzI3WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTExLjMwMiAtMTIuMzc3KSIgZmlsbD0iIzQ2NWRjOCIvPg0KPC9zdmc+DQo=");
            background-position: center;
            background-size: 12px;
            background-repeat: no-repeat;
            position: absolute;
            left:-8px;
            top:0px;
            width:32px;
            height: 32px;
            }
          }
        }
        .bi-product-fee{
          display: flex;
          flex-direction: column;
          text-align: right;
          margin-top:25px;
          .bi-prodcut-hour{
            .bi-hour{
              margin-right:2px;
            }
          }
          .bi-product-price-wrapper {
            font-weight: 600;
            font-size:12px;
            margin-top:6px;
          }
        }    
      }
    }
  }

  /* PRODUCT CARD */
  
  .Male {
    background-color: #c6dadd;
  }
  .Female {
    background-color: #ffdde0;
  }
  
  /* PRODUCT CARD */
  
  /* BOOKING INFO ORDER CARD */
  
  .booking-info-order-container {
    margin: 20px auto 80px;
    max-width: $container-m;
    width:100%;
    border: solid 1px $input-border;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    .bi-order-amount-container {
      height: 50px;
      background-color: $color12;
      border-bottom: 1px solid $input-border;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
    }
    .bi-order-total-container {
      display: flex;
      flex-direction: column;
      padding: 0px 20px;
      min-height: 160px;
      justify-content: space-around;
      .bi-order-total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        flex-wrap: wrap;

        > div{
          margin-top:5px;
          width:100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &:nth-child(3){
            margin-top:20px;
            font-weight: bold;
          }
        }
      }
      .bi-order-total-description {
        font-size: 12px;
      }
      .bi-order-payment{
        display: flex;
        flex-direction: column;
        border-top:1px solid $input-border;
        border-bottom:1px solid $input-border;
        padding: 20px 0px;
        .bi-order-payment-title{
          font-size: 14px;
          color: $font-color;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .bi-order-payment-info{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size:12px;
          line-height: 1.60;
        }
        .bi-order-payment-info div:last-child{
          text-align: right;
        }
      }
    }
    .previous-step-button{
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 0px;
      bottom: -36px;
      div{
        margin-left: 4px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color:#304293;
      }
    }
  }

  .continue-button {
    height: 42px;
    border-radius: 6px;
    background: linear-gradient(270deg, #304293 30%, #272768 100%);
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    color: $white;
    cursor: pointer;
  }

  .continue-button[rel="comfirm-info"]{
    color: $color0;
    background-color: $white;
    border:1px solid $color0;
    border-radius: 22px;
  }
  
  /* BOOKNIG INFO ORDER CARD */
  
  /* HOST CONTAINER */
  
  .booking-guest-info-container {
    max-width: $container-m;
    width:100%;
    margin: 0 auto;
    h3 {
      border-bottom: 1px solid $input-border;
      padding-bottom: 10px;
    }
    p {
      font-size: 12px;
      margin-bottom: 30px;
    }
  }
  
  .guest-info-wrapper {
    display: flex;
    flex-direction: column;
    .guest-info-input {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      label {
        font-size: 12px;
        font-weight: 600;
        margin-bottom:10px;
      }
      input{
        padding-right:50px;
      }
      .gi-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
  
  #mobile {
    width: 60%;
  }
  #country-code {
    width: 30%;
  }

  .form-valid input {
    border: 1px solid $input-success !important;
  }
  
  .form-invalid input {
    border: 1px solid $input-alert !important;
  }
  
  .validation-icon {
    position: absolute;
    display: none;
    right: 20px;
    top: 55%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 99;
    transition: border-color 0.5s ease-out;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .4s;
    opacity: 0;
  }
  .form-valid .validation-icon {
    display: block;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDE0IDEwIj4KICAgIDxwYXRoIGZpbGw9IiM5MEI1QkMiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTExLjk3OS4zMTRhLjk2My45NjMgMCAwIDEgMS40MjMgMCAxLjEyMyAxLjEyMyAwIDAgMSAwIDEuNTE4TDYuMzAyIDkuNGExLjA1IDEuMDUgMCAwIDEtLjE5OC4zMDIuOTY2Ljk2NiAwIDAgMS0xLjQyNS0uMDExTC45ODMgNS43NkExLjEyMSAxLjEyMSAwIDAgMSAuOTcgNC4yNDVhLjk2Ni45NjYgMCAwIDEgMS40MjYuMDFsMi45NDUgMy4xMzJ6Ii8+Cjwvc3ZnPgo=");
    opacity: 1;
  }
  .form-invalid .validation-icon {
    display: block;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDExIDEwIj4KICAgIDxwYXRoIGZpbGw9IiNGRjVENkEiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjRkY1RDZBIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik01LjM0NiA1TDEuMjczLjkyN2EuMjQ5LjI0OSAwIDAgMCAuMzUxLS4zNTJsMy43MTggMy43MTguMzU1LjM1Nkw5Ljc3LjU3NWEuMjQ5LjI0OSAwIDAgMCAuMzUyLjM1Mkw2LjA0OCA1bDQuMDc0IDQuMDczYS4yNDkuMjQ5IDAgMCAwLS4zNTIuMzUyTDYuMDUzIDUuNzA3bC0uMzU2LS4zNTYtNC4wNzIgNC4wNzRhLjI0OS4yNDkgMCAwIDAtLjM1My0uMzUyTDQuOTkgNS4zNTYgNS4zNDYgNXoiLz4KPC9zdmc+Cg==");
    opacity: 1;
  }
  
  .form-warnings{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 315px;
    border-radius: 8px;
    background-color: white;
    max-height: 80%;
    padding: 20px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    svg{
      --color3:#465dc8;
    }
    .warning-title{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      > div{
        cursor: pointer;
      }
    }
    .form-close-button{
      position: absolute;
      top:20px;
      right:40px;
      overflow: hidden;
    }
  }
  .pp-warning, .tou-warning{
    > div{
      overflow-y: scroll;
    }
  }
  
  .warning-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 998;
  }
  
  /* HOST CONTAINER */
  
  /* CREDIT CARD */
  .booking-payment-details-container {
    max-width: $container-m;
    width:100%;
    margin: 0 auto;
    .jp-card .jp-card-front{
      //background-image: url('/UPLOAD/frontend/card-bg.png');
      background-size:cover;
      background: #90b5bc;
    }
  }
  
  .pd-credit-card {
    width: 320px;
    height: 190px;
    margin:20px auto;
    border-radius: 8px;
    
  }
  .card-info-wrapper {
    display: flex;
    flex-direction: column;
  }
  .card-info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .card-info input {
    margin: 10px 0px;
    height: 46px;
    border: 1px solid #eee;
    border-radius: 3px;
    transition: border-color 0.5s ease-out;
    font-size: 14px;
    padding: 0 20px;
  }
  .payment-credential {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .payment-credential > div {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #expiration {
    width: 90px;
    margin-right: 10px;
  }
  
  .pd-policies {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $input-border;
    border-bottom: 1px solid $input-border;
    margin-top:40px;
    svg{
      --color3:#465dc8;
    }
    > div {
      padding:20px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $input-border;
      cursor: pointer;
       > div{
         &:nth-child(2){
           width:100%;
           font-weight: bold;
           padding-left:10px;
           color:$color0;
         }
       }
    }
  }
  
  .cvc-mark {
    position: absolute;
    transform: translate(-50%, -50%);
    right: 0px;
    bottom: -12px;
    font-size: 24px;
    color: $color0;
    border-left: 1px solid $input-border;
    padding-left: 20px;
  
    height: 46px;
    line-height: 46px;
    text-align: center;
  }
  .cvc-info-tooltip{
    position: absolute;
    display:  flex;
    justify-content: space-between;
    width: 314px;
    border-radius: 8px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    padding:30px;
    color:black;
    right: -10px;
    top: -110px;
    p{
      margin:0;
      text-align: left;
      font-size:13px;
      line-height: 1.22 !important;
      margin-right: 16px;
    }
    &>div{
     cursor: pointer;
    }
  
  }
  
  .pd-accept {
    display: flex;
    margin-top:20px;
    align-items: flex-start !important;
    border-bottom: none !important;
  }
  .pd-accept p {
    margin: 0;
    padding: 0;
    a{
      display: inline;
      padding:0px;
    }
  }
  .bank-cancel-info{
    padding: 20px 0px 20px 24px !important;

    p{
      margin:0;
    }
  }
  /* CREDIT CARD */
  
  /* COMFIRMATION PAGE */
  
  .booking-comfirmation-container{
    max-width: $container-m;
    width:100%;
    margin: 0 auto;
  }
  
  .comfirmation-message{
    text-align: center;
  }
  .comfirmation-message p {
    font-size: 16px;
  }
  .comfirmation-message h4 {
    font-size: 24px;
    color: $color0;
  }
  
  .comfirmation-id{
    height: 143px;
    background-color: #f7f7f7;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px -30px;
  }
  
  .comfirmation-id p {
    font-size: 14px;
    margin:0;
  }
  .comfirmation-id h4 {
    font-size: 18px;
    color: $input-success;
    margin:0;
  }
  .comfirmation-summary{
    margin-top:50px;
    display:flex;
    flex-direction: column;
  
  }
  .comfirmation-summary >h4 {
    font-size: 16px;
    font-weight: 600;
    margin:0;
    border-bottom: 1px solid $input-border;
    padding-bottom: 10px;
  }
  
  .summary-location > h4 {
    font-size: 16px;
    font-weight: 600;
   
  }
  .summary-location > p {
    font-size: 18px;
    
  }
  .summary-location  > a {
    font-size: 14px;
    font-weight: 600;
    color: $color0;
    margin-top:30px;
    text-decoration: underline;
  }
  
  .comfirmation-info-container > div{
    border-bottom:1px solid $input-border;
    padding:30px 0px;
  }
  .comfirmation-info-container > div:last-child{
    border-bottom:none;
    padding:30px 0px;
  }
  
  .c-info-title{
    font-size: 16px;
    font-weight: 500;
    color: $color0;
    display: flex;
    align-items: center;
    i{
      margin-right:10px;
      svg{
        --color3:#465dc8;
      }
    }
    span{
      font-weight: bold;
    }
  }
  .c-info-details{
    font-size: 14px;
    font-weight: normal;
    padding-left:40px;
  }
  
  .comfirmation-cancel{
    h4{
      font-size: 12px;
      font-weight: bold;
    }
    p{
      font-size: 12px;
      font-weight: normal;
      line-height: 1.33;
    }
    a{
      color:$color15;
      text-decoration: underline;
    }
  }
   
  
}  

.booking-form-animate{
  .ui-datepicker-buttonpane{
    position: absolute;
    padding:0px 30px;
    margin:0px;
    height:52px;
    top:-1px;
    left:0px;
    width:100%;
    background: $color0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .ui-datepicker-current{
      display: none;
    }
    .ui-datepicker-close{
      font-size:0px;
      background: none;
      border:none;
      width:40px;
      height:40px;
      padding:0px;
      margin: 0px;
    }
  }
  #ui-datepicker-div{
    border:none;
    font-family: $font1 !important;
    width: 100%;
    transform: translate(0) !important;
    height:100%;
    left:0px !important;
    top:inherit !important;
    bottom:0px;
    padding:30px;
    padding-top:80px;
    .ui-widget-header{
      border:1px solid $color11;
      background: $white;
      border-radius: 40px;
      padding:0px;
      max-width: 325px;
      margin: 0px auto 20px auto;
      .ui-datepicker-prev , .ui-datepicker-next{
        top:50% !important;
        width:32px;
        height:32px;
        background-repeat: no-repeat;
        transform: translateY(-50%);
        margin:0px 10px;
        border-radius: 100%;
        background-image: url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPgo8dGl0bGU+c2xpZGVyLWxlZnQtc2VsZWN0PC90aXRsZT4KPHBhdGggZmlsbD0iI2ZlODM4ZCIgZD0iTTE2IDEuMjVjOC4xNDYgMCAxNC43NSA2LjYwNCAxNC43NSAxNC43NXMtNi42MDQgMTQuNzUtMTQuNzUgMTQuNzVjLTguMTQ2IDAtMTQuNzUtNi42MDQtMTQuNzUtMTQuNzVzNi42MDQtMTQuNzUgMTQuNzUtMTQuNzV6TTE2IDIuNzVjLTcuMzE4IDAtMTMuMjUgNS45MzItMTMuMjUgMTMuMjVzNS45MzIgMTMuMjUgMTMuMjUgMTMuMjVjNy4zMTggMCAxMy4yNS01LjkzMiAxMy4yNS0xMy4yNXMtNS45MzItMTMuMjUtMTMuMjUtMTMuMjV6TTE3LjQyOCAxMC40N2MwLjI5My0wLjI5MyAwLjc2OC0wLjI5MyAxLjA2MSAwczAuMjkzIDAuNzY4IDAgMS4wNjF2MGwtNC40NyA0LjQ3IDQuNDcgNC40N2MwLjI5MyAwLjI5MyAwLjI5MyAwLjc2OCAwIDEuMDYxcy0wLjc2OCAwLjI5My0xLjA2MSAwdjBsLTQuOTI5LTQuOTI5Yy0wLjMzMi0wLjMzMi0wLjMzMi0wLjg3IDAtMS4yMDJ2MHoiPjwvcGF0aD4KPC9zdmc+Cg==");
        background-size:contain;  
        &:hover{
          background-color: transparent;
          border:1px solid transparent;
        }    
      }
      .ui-datepicker-next{
        transform: translateY(-50%) rotate(-180deg);
      }
      .ui-datepicker-title{
        color:$color0;
        padding:15px 0px;
        display: flex;
        justify-content: center;
        .ui-datepicker-month , .ui-datepicker-year{
          border-radius: 0px;
          margin:5px;
          border:none;
          color:$color0;
          font-weight: bold;
          height:min-content;
          width:20%;
        
        }
        span{
          width: 15% !important;
        }
      }
    }
    .ui-datepicker-calendar{
      max-width: 325px;
      margin: 0px auto 20px auto;
      thead{
        color:$color0;
        text-transform: uppercase;
        th{
          font-weight: 300 !important;
        }
      }
      tbody{
        .ui-state-default{
          border:2px solid transparent;
          border-radius: 20px;
          background: $white;
          text-align: center;
          padding:7px 2px;
          &.ui-state-active,
          &.ui-state-hover{
            border:2px solid $color3;
            color:$font-color;
          }
        }
      }
    }
  }
}