.ems-page-hierarchy{
    &-content{
        &-wrapper{
            display: flex;
            flex-wrap: wrap;
            > div{
                width:100%;
            }
            .ems-page-hierarchy-dropdown-menu{
                order:1;
                position: sticky;
                top:52px;
                background: $white;
            }
            .ems-page-hierarchy-cover{
                order:2;
            }
            .ems-page-hierarchy-html{
                order:3;
                min-height: 900px;
            }
        }
    }
}
