.ems-gallery-ready{
    overflow: hidden;
    .ems-gallery-overlay{
        display:block;
        z-index: 10000;
        background: $black;
        opacity: .95;
    }
    .ems-page-gallery{
        .zoom-closed{
            cursor: pointer;
            position: fixed;
            height:auto;
            right:30px;
            top:30px;
            z-index: 12000;
            visibility: visible;
            opacity: 1;
            transform: rotate(360deg);
            transition:all .4s;
            &:hover{
                transform: rotate(0);
            }
        }
        .ems-gallery-slider-hide{
            display: block;
        }
    }
}


.ems-page-gallery{
    .zoom-closed{
        opacity: 0;
        visibility: hidden;
        transform: rotate(0deg);
        height: 0px;
    }
    .ems-gallery-slider-hide{
        display: none;
        position: fixed;
        top:50%;
        left:50%;
        width:100%;
        transform: translate(-50% , -50%);
        z-index: 11000;
        .swiper-container{
            .swiper-wrapper{
                align-items: center;
                .gallery-item{
                    padding:30px;
                    width:100%;
                    display: flex;
                    align-items: center;
                    min-height:300px;
                    img{
                        width:100%;
                    }
                }
            }
            .swiper-pagination{
                display: flex;
                justify-content: center;
                position: absolute;
                bottom:30px;
                .swiper-pagination-bullet{
                    position: relative;
                    width:16px;
                    height:16px;
                    background: unset;
                    transition: all .5s;
                    padding:4px;
                    &:before{
                        content:'';
                        width:8px;
                        height:8px;
                        background: $white;
                        position: absolute;
                        left:50%;
                        top:50%;
                        transform: translate(-50% , -50%);
                        border-radius: 100%;
                        transition: all .5s;
                    }
                    &-active{
                        border:1px solid $white;
                        &::before{
                            background: $white;
                        }
                    }
                }
            }
        }
    }
    &-title{
        text-align: center;
        margin:60px auto 30px auto;
        *{
            font-size:24px;
            color:$color0;
        }
    }
    &-container{
        min-height:350px;
        margin-bottom:80px;
        .ems-tab{
            &-header{
                position: sticky;
                top:50px;
                z-index: 1;
                background: $white;
                > div{
                    border-bottom:1px solid $input-border;
                    font-size:12px;
                    font-weight: 500;
                    margin-left:30px;
                    justify-content: space-between;
                    display: flex;
                    overflow: auto;
                    width:100%;
                }
                a{
                    border:none;
                    text-align: center;
                    border-bottom:1px solid $white;
                    padding:10px 7.5px;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    &.selected{
                        color:$color0;
                        border-bottom:1px solid $color0;
                        font-weight: 700 !important;
                    }
                }
            }
            &-content{
                padding:0px 30px;
                .tab-area{
                    ul{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap:wrap;
                        li{
                            cursor: pointer;
                            width:40%;
                            margin-bottom:10px;
                            height:210px;
                            position: relative;
                            &:nth-child(1) , &:nth-child(4) , &:nth-child(5) , &:nth-child(8) , 
                            &:nth-child(9) , &:nth-child(12) , &:nth-child(13), &:nth-child(16) , 
                            &:nth-child(17) , &:nth-child(20) , &:nth-child(21), &:nth-child(24) {
                                width:calc(60% - 10px);
                            }
                            img{
                                width:100%;
                                height:100%;
                                object-fit: cover;
                            }
                            &:before{
                                content:'';
                                display: block;
                                width:100%;
                                height:100%;
                                opacity: .3;
                                background: rgba(69, 61, 152, 0.5);
                                top:0px;
                                left:0px;
                                position: absolute;
                            }
                            &:after{
                                content:'';
                                @extend .base64-add-icon;
                                display: block;
                                width:100%;
                                height:100%;
                                position: absolute;
                                top:0px;
                                background-size:32px;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }
                    }
                }
            }
        }
    }
}