body {
  display: flex;
  flex-direction: column;
}
.booking-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.counter{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#location {
  border: 1px solid black;
  margin-bottom: 50px;
}

#person-container {
  border: 1px solid black;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
#person-container .info-wrapper {
  height: 50px;
  display: flex;
  flex-direction: column;
}
.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.button-wrapper > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  border: 1px solid black;
}
.button-container {
  height: 50px;
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button-container input {
  height: 30px;
  width: 30px;
}
.button-container div {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  vertical-align: center;
  line-height: 30px;
}
.input-info {
  display: flex;
  flex-direction: row;
}
.number-info {
  width: 50px;
}
.date-picker-selection{
  display: flex;
  height: 40px;
  flex-direction: row;
  justify-content: space-around;
}

.calendar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.calendar input{
  width:50%;
}
.calendar div{
  width:20%;
  border:1px solid black;
  text-align: center;
  cursor: pointer;
}
.date-picker-hours{
  display: flex;
  flex-direction: row;
  max-width: 960px;
}
.ui-datepicker-calendar{
  width: 100%;
  background-color: palevioletred;
}
.ui-datepicker-header{
  width: 100%;
  background-color: pink;
}

.date-picker-hours ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 20px 20px;
  padding: 0;
  flex-wrap: wrap;
  width: 100%;
  border:1px solid black;
}
.date-picker-hours li {
  width: 15%;
  height: 30px;
  cursor: pointer;
}

.checkInHour {
  font-weight: bold;
  color:white;
  background-color: blue !important;
}
.checkOutHour {
  font-weight: bold;
  color:white;
  background-color: blue !important;
}

.betweenHour {
  font-weight: bold;
  color:black;
  background-color:lightblue;
}

.booked{
  color:white;
  border:1px solid gray;
  background-color: darkgray;
}

.not-allowed{
  pointer-events: none;
  cursor: not-allowed;
}

/* #checkOutDay, #checkInDay{
  display: none;
} */

.d-none{
display: none !important;
}

.active{
  color:violet;
  font-weight: bold;
}