/* GENEL */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}

.test {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  background-color: slateblue;
  color: white;
  border: 3px solid darkblue;
  border-radius: 50%;
}
.test:focus {
  background-color: indigo;
}

/* GENEL */

/* EMOS ICINDE OLAN CLASSLAR */

.ems-none, .ems-hidden {
  display: none !important;
}

/* EMOS ICINDE OLAN CLASSLAR */

/* GENEL TEKRARLAYAN CLASSLAR */
.selected-item {
  background-color: slategray;
}
.selected-button {
  border: 2px solid palevioletred !important;
}
.selected-text {
  color: palevioletred;
  font-weight: bold;
}
.selected-time {
  border-radius: 20px;
  border: solid 2px palevioletred;
  color: palevioletred;
}

.booked-time {
  color: palevioletred;
}

.disabled {
  opacity: 0.5;
  user-select: none !important;
  pointer-events: none !important;
  cursor: default !important;
}

.active {
  font-weight: bold !important;
  color: indigo;
  border-bottom: 2px solid indigo;
}
.active-button {
  background-color: indigo !important;
  color: white !important;
}
.filled {
  text-align: left !important;
}

.input-icon {
  width: 30px;
  height: 30px;
  background-color: indigo;
  margin-right: 30px;
}
.info-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-title {
  font-weight: bold;
  color: indigo;
  font-size: 16px;
}
.input-subtitle {
  font-weight: bold;
  color: indigo;
}
.input-info {
  color: steelblue;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 22px;
  vertical-align: middle;
}

/* GENEL TEKRARLAYAN CLASSLAR */

/* STEPS */
.booking-step-container {
  margin: 0 auto;
  max-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.booking-step {
  position: relative;
}
.step-success {
  display: none;
}
.step-number {
  position: relative;
  text-align: center;
  line-height: 28px;
  width: 28px;
  height: 28px;
  border-radius: 15px;
  border: 1px solid darkblue;
  z-index: 99;
}
.step-number::after {
  content: "";
  position: absolute;
  left: -8px;
  bottom: -8px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #50cae0;
  opacity: 0.5;
}
.step-number::before {
  content: "";
  position: absolute;
  right: -8px;
  top: -8px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #50cae0;
  opacity: 0.5;
}
.step-name {
  position: absolute;
  left: -50%;
  width: 80px;
  bottom: -30px;
  color: indigo;
  font-size: 12px;
  font-weight: 500;
}
.dashed-line {
  width: 60px;
  border: 1px dashed darkblue;
}
.step0 {
  display: none;
}
.step1 {
  background-color: lightblue;
}
.step2 {
  background-color: blue;
}
.step3 {
  background-color: darkblue;
}
/* STEPS */

/* ////////////////////////////////////////////////////////////////////// */

/* BOOKING */

.booking-container {
  max-width: 320px;
  padding: 0px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.booking-container > section {
  padding: 30px 0px;
  border-bottom: 1px solid slategray;
}

/* -LOCATION- */

.location-container {
  position: relative;
}

/* DROPDOWN MENU  */

.location-menu {
  position: absolute;
  left: 60px;
  top: 70px;
  padding: 10px 0px;
  max-width: 270px;
  max-height: 270px;
  overflow-x: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #e0e0e0;
  border-top: 3px solid palevioletred;
  background-color: white;
  font-size: 14px;
}
.location-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.location-menu div {
  padding: 0px 30px;
  line-height: 40px;
  height: 40px;
  width: 400px;
}
.location-menu ul li {
  line-height: 40px;
  padding: 0px 30px;
  height: 40px;
  width: 400px;
  cursor: pointer;
}

.location-menu ul li:hover {
  background-color: slategray;
}

/* DROPDOWN MENU  */

/* -LOCATION- */

/* -GUEST- */

.guest-container .input-info span {
  padding: 0px 5px;
}
.guest-container ul li {
  padding-top: 10px;
}

/*COUNTER */

.counter-container {
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid slategray;
  width: 145px;
  height: 80px;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.button-counter {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: indigo;
  width: 28px;
  cursor: pointer;
}
.button-container span {
  width: 50px;
  text-align: center;
}

/* COUNTER */

/* -GUEST- */

/* -DATEPICKER- */

/* CHEKIN / OUT  */

.date-picker-container .info-wrapper {
  height: 80px;
}

.date-picker-container .input-info {
  justify-content: space-between;
}
.date-picker-container .input-info > div {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid steelblue;
  align-self: flex-end;
}
.date-picker-container .input-info .date-subtitle {
  font-weight: lighter;
  padding-bottom: 6px;
}
.date-picker-container .input-info .active {
  font-weight: bold;
  color: indigo;
  border-bottom: 2px solid indigo;
}

.date-picker-container .input-info .filled {
  text-align: left !important;
}
.date-picker-container .input-info .filled .date-subtitle {
  font-size: 12px;
  padding-bottom: 0px;
}

/* CHEKIN / OUT  */

/* TARIH  */

.calendar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
  border-radius: 26px;
  border: 1px solid slategray;
  margin-top: 20px;
}
.date-counter-button {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  text-align: center;
  border: 1px solid palevioletred;
}
.calendar-button {
  font-weight: bold;
  color: indigo;
  width: 70%;
  text-align: center;
}

/* TARIH  */

/* SAAT */

.time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0px;
  margin-top: 30px;
  flex-wrap: wrap;
  width: 100%;
}
.time-container li {
  width: 15%;
  margin: 0px;
  padding: 0px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
}
/* SAAT */

/* COMFIRM BUTTON */

.comfirm-button {
  width: 240px;
  height: 42px;
  margin-top: 40px;
  border-radius: 21px;
  text-align: center;
  line-height: 42px;
  border: none;
  background-color: #eaeaea;
  color: gray;
  align-self: center;
}
/* COMFIRM BUTTON */

/* BOOKING */

/* ////////////////////////////////////////////////////////////////////// */

/* BOOKING INFO */

.booking-info-container {
  max-width: 320px;
  padding: 0px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.booking-info-container > section {
  padding: 30px 0px;
}

/* BOOKING INFO CARD BASLANGIC */

.booking-info-card-container {
  border-radius: 6px;
  border: solid 1px slategray;
  padding: 30px 20px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 170px;
}

.booking-info-card-wrapper {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.bi-button-back {
  color: lightseagreen;
  text-decoration: underline;
  align-self: center;
  cursor: pointer;
}

/* BOOKING INFO CARD BASLANGIC */

/* BOOKING INFO PRODUCT BASLANGIC */

.booking-info-product-container {
  display: flex;
  flex-direction: column;
}
.booking-info-product-container h3 {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  color: darkblue;
  border-bottom: 1px solid slategray;
  padding-bottom: 10px;
}

.booking-info-product-wrapper {
  display: flex;
  flex-direction: column;
}

/* PRODUCT CARD */

.booking-info-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid slategray;
}

.bi-product-image {
  width: 120px;
  height: 180px;
  border-radius: 6px;
}

.bi-product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}

.bi-product-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.57;
  color: indigo;
}
.bi-product-specs li {
  font-size: 12px;
  line-height: 3;
}

.bi-product-fee {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.bi-product-price-wrapper {
  font-weight: 500;
  letter-spacing: 0.24px;
}

.Male {
  background-color: #50cae0;
}
.Female {
  background-color: pink;
}

/* PRODUCT CARD */

/* BOOKING INFO ORDER CARD */

.booking-info-order-container {
  margin: 0px auto;
  max-width: 320px;
  margin-top: 20px;
  border: solid 1px slategray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

.bi-order-amount-container {
  height: 50px;
  background-color: #f7f7f7;
  border-bottom: 1px solid slategray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.bi-order-total-container {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  height: 160px;
  justify-content: space-around;
}
.bi-order-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.bi-order-total-description {
  font-size: 12px;
}
.continue-button {
  height: 42px;
  border-radius: 6px;
  background-color: #50cae0;
  line-height: 42px;
  text-align: center;
  color: white;
}

/* BOOKNIG INFO ORDER CARD */

/* HOST CONTAINER */

.booking-guest-info-container {
  max-width: 320px;
  margin: 0 auto;
}

.booking-guest-info-container h3 {
  border-bottom: 1px solid slategray;
  padding-bottom: 10px;
}

.booking-guest-info-container p {
  font-size: 12px;
  margin-bottom: 30px;
}

.guest-info-wrapper {
  display: flex;
  flex-direction: column;
}
.guest-info-input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.guest-info-wrapper input {
  margin: 10px 0px;
  height: 46px;
  border: 1px solid #eee;
  border-radius: 3px;
  transition: border-color 0.5s ease-out;
  font-size: 14px;
  padding: 0 20px;
}
.guest-info-input .gi-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#mobile {
  width: 60%;
}
#country-code {
  width: 10%;
}
.guest-info-wrapper label {
  font-size: 12px;
  font-weight: 500;
}
.form-valid input {
  border: 1px solid palegreen !important;
}

.form-invalid input {
  border: 1px solid salmon !important;
}

.validation-icon {
  position: absolute;
  display: none;
  right: 20px;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 99;
  border: 1px solid white none;
  transition: border-color 0.5s ease-out;
}
.form-valid .validation-icon {
  display: block;

  border: 1px solid palegreen !important;
}
.form-invalid .validation-icon {
  display: block;

  border: 1px solid salmon !important;
}

.child-warning {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 315px;
  height: 80px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 999;
}
.warning-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 998;
}

/* HOST CONTAINER */

/* CREDIT CARD */
.booking-payment-details-container {
  max-width: 320px;
  margin: 0 auto;
}

.pd-credit-card {
  width: 315px;
  height: 190px;
  border-radius: 8px;
  
}
.card-info-wrapper {
  display: flex;
  flex-direction: column;
}
.card-info {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.card-info input {
  margin: 10px 0px;
  height: 46px;
  border: 1px solid #eee;
  border-radius: 3px;
  transition: border-color 0.5s ease-out;
  font-size: 14px;
  padding: 0 20px;
}
.payment-credential {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.payment-credential > div {
  display: flex;
  flex-direction: column;
  position: relative;
}
#expiration {
  width: 50px;
  margin-right: 10px;
}

.pd-policies {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  border-top: 1px solid slategray;
  border-bottom: 1px solid slategray;
}

.pd-policies > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  height: 30px;
  align-items: center;
  border-bottom: 1px solid slategray;
}

.cvc-info {
  position: absolute;
  transform: translate(-50%, -50%);
  right: 0px;
  bottom: -12px;
  font-size: 24px;
  color: indigo;
  border-left: 1px solid #eee;
  padding-left: 20px;

  height: 46px;
  line-height: 46px;
  text-align: center;
}

.pd-accept {
  align-items: flex-start !important;
  border-bottom: none !important;
}
.pd-accept p {
  margin: 0;
  padding: 0;
}
/* CREDIT CARD */
