.copyright {
    font-family: $font2;
    color: $color5;
}

.made-by {
    text-align: center;
    margin-top: 25px;
    a {
        padding: 5px;
        + a {
            margin-left: 10px;
        }
    }
}