.site-footer {
    background-image: url(/images/frontend/footer-bg.png);
    background-position: center 80px;
    background-size: 100%;
    padding: 70px 0;
}
.site-footer-grid {
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;    
    grid-template-areas:
    "ga1 ga1 ga1"
    ". ga8 ."
    ". ga2 ."
    "ga3 ga3 ga3"
    ". ga4 ."
    "ga6 ga5 ga5"
    "ga7 ga7 ga7";

    @include setGridArea(1,8);
}