.social-links {
    margin-top: 50px;
    $p: 20px;
    .swiper-wrapper {
        justify-content: center;
    }
    .swiper-inner {
        margin-left: #{-$p};
    }
    .swiper-slide {
        padding-left: #{$p};
    }
    svg {
        font-size: 50px;
    }
}