.kutuOzellikFiltre {
    display: block;
    position: static;
    background-color: transparent;
    color: inherit;
}
.kutuHeaderOzellikFiltre {
    background-color: inherit;
    padding: 15px 10px;
    border-bottom: 1px solid $color10;
}
.kutuBodyOzellikFiltre {
    overflow: visible;
}
#dvUrunKiyaslamaOzellik {
    margin: 0;
    border-color: $color10;
}
.urunKiyaslamaOzellik_ozellikAd {
    position: static;
    background-color: inherit;
    padding: 22px 0;
}
.kutuFooterOzellikFiltre {
    display: none;
}

//seçili filtreler
.pnlUrunKiyasSecim {
    display: block;
}