.ems-sort {
    display: none;
    .urunKiyaslamaOzellik_ozellikAd {
        background-image: none;
    }

    #dvUrunKiyaslamaOzellik {
        &.counts {
            .urunKiyaslamaOzellik {
                background: none;
                padding: 0;
                font-size: 14px;
                color: $color7;
            }
        }

        &.sorts {
            margin-top: 15px;
            .urunKiyaslamaOzellik {
                @extend .base64-radio;
                padding-left: 30px;
                font-weight: 700;
                &.link_selected {
                    @extend .base64-radio-active;
                }
            }
        }

        &.views {
            .urunKiyaslamaOzellik {
                background: none;
                padding: 0;
                color: $color7;
                display: flex;
                align-items: center;
                &.link_selected {
                    color: $color1;
                }
                svg {
                    margin-right: 5px;
                }
            }
        }
    }

    &-ready {

    }

    &-animate {
        position: fixed;
        .ems-sort {
            display: block;
        }
    }
}