//CUSTOM CFG
//product widget
.swiper-product {
    $p: 30px;
    min-height: 490px;
    .swiper-inner {
        padding-left: 0;
        margin-left: #{-$p};
    }
    .swiper-slide {
        padding-left: #{$p};
        width: calc(100% / 3);
    }
}

//navigation
.slider-navigation {
    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }
}

//swipe only mobile
.mobi-swiper {
    &.slider-navigation {
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
    &.slider-pagination {
        .swiper-pagination {
            display: none;
        }
    }
}

//horizontal content layout
.d-swiper-layout-r {
    > .swiper-inner {
        > .swiper-wrapper {
            flex-direction: row;
        }
    }
}