.custom-home-page{
    .ems-sticky-header{
        .site-header{
            height:84px;
            background: $color0;
        }
    }
    .site-header{
        a{
            pointer-events: auto;
        }
        height:168px;
        pointer-events: none;
    }
}

.lp-pages{
    .logo{
        display: block;
    }
    .page-title{
        display: none;
    }
}

.site-header{
    height:84px;
    background: $color0;
    &-grid{
        max-width:1160px;
        width:100%;
        display: grid;
        margin: 0 auto;
        justify-content: flex-start;        
        grid-template-areas: "ga1 ga2";
        grid-template-columns: 120px 1fr;
        padding:0px 0px;
        .ga1{
            grid-area: ga1;
            .logo{
                img{
                    width:84px;
                }
            }
        }
        .ga2{
            grid-area: ga2;
        }
        .site-menu{
            overflow: visible !important;
            position: inherit;
            height:auto;
            width:100%;
            opacity: 1;
            transform: inherit;
            background: none;
            font-size:16px;
            line-height: 1.4;
            justify-content: space-between;
            padding-left:120px;
            &-wrapper{
                bottom:0;
                opacity: 1;
                height: auto;
                width:auto;
                .site-menu-inner{
                    display: flex;
                    li{
                        margin-right:80px;
                        margin-bottom: 0px;
                        a{
                            color:$white;
                            font-size:16px;
                        }
                        &.menu-active{
                            a{
                                color:$white;
                                font-size:16px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
            .booking-button{
                width:200px;
                bottom:0;
                opacity: 1;
                margin-top:0px;
            }
            .lang-menu{
                background: none;
                width:80px;
                color:$white;
                bottom:0px;
                height:30px;
                position: relative;
                *{
                    pointer-events: auto;
                }
                .mini-lang{
                    width:100%;
                    display: block;
                    .header-height{
                        > span{
                            display: block !important;
                            img{
                                display: none;
                            }
                            b{
                                display: flex !important;
                                align-items: center;
                                justify-content: center;
                                font-weight: 400;
                                cursor: pointer;
                                &:after{
                                    content:'';
                                    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+CiAgICA8cGF0aCBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik0xOS40ODkgMTAuNTNhLjc1Ljc1IDAgMCAwLTEuMDYtMS4wNmwtNS45MyA1LjkyOWEuODUuODUgMCAwIDAgMCAxLjIwMmw1LjkzIDUuOTNhLjc1Ljc1IDAgMCAwIDEuMDYtMS4wNjFMMTQuMDE5IDE2bDUuNDctNS40N3oiLz4KPC9zdmc+Cg==");
                                    transform: rotate(270deg);
                                    width:32px;
                                    height:32px;
                                }
                            }
                        }
                    }
                    .sub{
                        display: none;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        background: $white;
                        position: absolute;
                        top:30px;
                        left:0px;
                        width:80px;
                        border-top:3px solid $color3;
                        overflow: hidden;
                        flex-wrap: wrap;
                        li{
                            width:100%;
                            a{
                                > span{
                                    b{
                                        &::before{
                                            content:none;
                                        }
                                    }
                                }
                            }
                        }
                        li:hover , li.selected{
                            background: $color12;
                        }
                    }
                    &.opened{
                        .header-height{
                            b{
                                &:after{
                                    transform: rotate(90deg);
                                }
                            }
                        }
                        .sub{
                            display: block;
                        }
                    }
                }
            }
            .booking-button{
                min-width: 200px;
                .booking-menu-opened{
                    border:none;
                    background: $white;
                    color:$font-color;
                    font-family: $font1;
                    font-size:14px;
                    font-weight: 600;
                    border-radius: 6px;
                    padding:13.5px 0px;
                    width:100%;
                }
            }
        }
        
    }
    &:after{
        content:none;
    }
}

// Homepage Mobile Booking Form Trigger
.booking-menu-opened.booking-menu-opened-fixed {
    display: none !important;
}


.ems-sticky-header{
    .booking-menu-opened.booking-menu-opened-fixed{
        background: $color15;
        color:$white;
        font-weight: normal;
    }
}

.booking-form-animate{
    .booking-menu-overlay{
        display: block;
        z-index: 99999;
    }
    .booking-form{
        width:50%;
        min-width:720px;
        max-width:960px;
        right:0px;
        visibility: visible;
        background: #fff;
    }
}

.booking-form{
    position: fixed;
    visibility: hidden;
    width: 0px;
    right: -100%;
    top: 0px;
    height: 100vh;
    overflow-y: auto;
    transition: all .6s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    z-index: 999999;
}
