.custom-home-page{
    .ems-sticky-header{
        .site-header{
            height:84px;
            background: $color0;
        }
    }
    .site-header{
        a{
            pointer-events: auto;
        }
        height:168px;
        pointer-events: none;
    }
}

.site-header{
    height:84px;
    background: $color0;
    &-grid{
        max-width:1160px;
        width:100%;
        display: grid;
        margin: 0 auto;
        justify-content: flex-start;        
        grid-template-areas: "ga1 ga2";
        grid-template-columns: 120px 1fr;
        .ga1{
            grid-area: ga1;
        }
        .ga2{
            grid-area: ga2;
        }
        .site-menu{
            position: inherit;
            height:auto;
            width:100%;
            opacity: 1;
            transform: inherit;
            background: none;
            font-size:16px;
            line-height: 1.4;
            justify-content: space-between;
            padding-left:120px;
            &-wrapper{
                bottom:0;
                opacity: 1;
                height: auto;
            }
            .booking-button{
                bottom:0;
                opacity: 1;
            }
            &-inner{
                display: flex;
                li{
                    margin-right:80px;
                    a{
                        color:#fff;
                    }
                }
            }
            .lang-menu{
                border:1px solid #fff;
                min-width: 50px;
                height:30px;
            }
            .booking-button{
                min-width: 200px;
                .booking-menu-opened{
                    background: $white;
                    color:$font-color;
                    font-family: $font1;
                    font-size:14px;
                    font-weight: 500;
                    border-radius: 6px;
                    padding:13.5px 0px;
                    width:100%;
                }
            }
        }
        
    }
    &:after{
        content:none;
    }
}
