.ems-sticky-header{
    .site-header{
        background: #453d98;
    }
}

.site-header{
    height:52px;
    transition: all .4s;
    position: fixed;
    top:0px;
    width:100%;
    z-index: 9999;
    border:1px solid red;
    &-grid{
        border:1px solid red;
    }
}
