.menu {
    display: block;
    position: relative;
    z-index: 1;
    background: $color3;
    max-width: none;
    width: 100%;
    padding: 0 50px;
    opacity: 1;
    transform: translateX(0);
    transition: none !important;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 20px;
        height: 100%;
        background: inherit;
    }
    &::before {
        left: 0;
        @include setCurve(15, -10);
    }
    &::after {
        right: 0;
        @include setCurve(-15, 10);
    }

    li {
        > a {
            padding: 0;
            margin: 0;
            line-height: inherit;
            border-bottom: none;
            &:after {
                display: none;
            }
        }
        &.selected {
            position: static;
            width: auto;
            height: auto;
            background: none;
            overflow: visible;
            > a {
                position: relative;
                background: none;
                margin: 0;
                padding: 0;
                font-size: inherit;
            }
            > .sub,
            > ul {
                animation: none;
            }
        }
        ul {
            display: block;
        }
    }

    .lvl-1 {
        display: flex;
        justify-content: center;
        overflow: initial;
        > li {
            > a {
                margin: 0 5px;
                padding: 0 5px;
                &::after {
                    display: block;
                    content: "";
                    transform: none;
                    right: auto;
                    left: 0;
                    top: auto;
                    bottom: 0;
                    width: 0;
                    border-width: 2px;
                    border-color: currentColor;
                    transition: all .32s ease;
                    opacity: 0;
                }
            }
            &.selected {
                > a {
                    background: none;
                    &::after {
                        opacity: 1;
                        width: 100%;
                    }
                }
                .sub {
                    display: flex;
                }
            }
        }
    }

    .sub {
        display: none;
        position: absolute;
        left: #{-$subGapL};
        top: 100%;
        z-index: 2;
        width: calc(100% + #{$subGapL * 2});
        height: 360px;
        background: $color3;
        font-family: $font2;
        line-height: $line-height + .5;
        .r1,
        .r2 {
            position: relative;
            overflow: hidden;
        }
        .r1 {
            flex-basis: $subGapL;
            @include setCurve(15, 48);
            z-index: 1;
            background: $color3;
            > img {
                @include setCurve(-15, 0);
            }
            + .r2 {
                flex: 1;
            }
        }
        .r2 {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .skew-object {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 400px;
        height: 100%;
        background: rgba(215, 0, 10, 0.6);
        @include setCurve(15, -52);
    }

    $iw: 300px;
    .img1, .img2 {
        position: absolute;
        top: 0;
        width: $iw;
        height: 100%;
        padding-top: 20px;
    }
    .img1 {
        right: -$iw/2;
        animation: animation-01 .5s cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    }
    .img2 {
        left: -102px;
        animation: animation-02 .32s cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
        + .lvl-2 {
            padding-left: $iw/2 + 100px;
            max-width: 1300px;
        }
    }

    .lvl-2 {
        column-count: 1;
        column-gap: 50px;
        height: 100%;
        padding: 30px;
        animation: animation-02 .5s cubic-bezier(0.215, 0.610, 0.355, 1.000) !important; /* easeOutCubic */
        > li {
            break-inside: avoid;
            a,
            .prm-title {
                display: inline-flex;
                line-height: 1.4;
            }
            &.ems-sub-menu {
                height: 100%;
            }
        }
    }

    .lvl-3 {
        > li {
            > a {
                font-weight: 400;
            }
        }
    }

    .col {
        &-2 {
            .lvl-2 {
                column-count: 2;
            }
        }
        &-3 {
            .lvl-2 {
                column-count: 3;
            }
        }
        &-4 {
            .lvl-2 {
                column-count: 4;
            }
        }
        &-5 {
            .lvl-2 {
                column-count: 5;
            }
        }
        &-6 {
            .lvl-2 {
                column-count: 6;
            }
        }
    }


    .type02 {
        .sub {
            height: auto;
        }
        .lvl-2 {
            column-gap: 20px;
            > li {
                width: 190px;
            }
        }
    }

    &-ready {
        .menu {
            display: block;
        }
    }

    &-animate {
        position: initial;
        .menu-overlay {
            top: 110px;
        }
    }
}