.mini-cart {
    position: relative;
    &-info {
        background: $color4;
        > span {
            @extend %header-mods-title;
        }
        #lblUrunAdet {
            margin-right: 4px;
        }
        [id$="lbfKUTU_URUN"] {
            display: flex;
            align-items: center;
        }
    }

    $ph: 20px;
    &-sub {
        @extend %header-mods-sub;
        max-width: 410px;
        padding: 0 $ph 20px;
        .mcq {
            margin-left: 5px;
            font-size: 16px;
            font-weight: 300;
            vertical-align: 1px;
            > i {
                font-style: normal;
            }
        }
        .sub-header {
            margin: 0 #{-$ph};
        }
    }

    &-ready {
        .mini-cart-sub {
            @extend %header-mods-sub-ready;
        }
    }
    
    &-animate {
        @extend %header-mods-animate;
        .mini-cart-overlay {
            @extend %header-mods-sub-overlay;
        }
        .mini-cart-sub {
            @extend %header-mods-sub-animate;
        }
    }
}

.basket-empty {
    .kutuSepet_urunYok {
        display: block !important;
        margin-top: 20px;
    }
    
    .kutuSepet_icerik,
    .cart-prd-total,
    .cart-prd-page-url {
        display: none;
    }
}

.kutuSepet_icerik {
    font-family: $font2;
    font-size: 16px;
    margin-top: 10px;
    max-height: calc(100vh - 250px);
    overflow: auto;
    .ems-grid-row {
        grid-template-columns: 100px 1fr 32px;
        border: none;
        grid-gap: 0 15px;
        padding: 10px 0;
    }
    .ems-grid-remove {
        align-self: flex-start;
    }
}
.cart-prd {
    &-name {
        margin-bottom: 3px;
    }
    &-size {
        color: $color7;
    }
    &-quantity {
        color: $color7;
    }
    &-price {
        margin-top: 5px;
        font-family: $font1;
        font-size: 18px;
        font-weight: 700;
    }
    &-discount {
        display: none;
        color: $color4;
        margin-top: 5px;
        .ems-show-discount & {
            display: block;
        }
    }
    &-proname:not(:empty) {
        margin-top: 5px;
        font-size: 12px;
        color: $color12;
    }
    &-remove {
        text-align: center;
        a {
            display: block;
        }
        svg {
            font-size: 20px;
        }
    }
    &-url {
        @include ems-cover;
    }
    &-total {
        border-top: 1px solid $color3;
        margin-top: 15px;
        padding-top: 20px;
        font-family: $font2;
        font-size: 18px;
    }
    &-page-url {
        margin-top: 20px;
        > a {
            display: block;
        }
        .lnkSepet {
            @extend %btn;
            display: block;
        }
    }
}