.top-menu-append {
    margin-top: -1px;
    .top-menu {
        display: block !important;
    }
    li {
        > a {
            margin-left: 0;
            margin-right: 0;
            padding-left: 20px;
            padding-right: 20px;
            background: $color3;
            &::after {
                right: 25px;
            }
        }
    }
}